%{
    def urlParameters = ""

    // Should not use both Search and Parameters!  They're two ways of doing the same thing.
    if (_search) {
        urlParameters = urlParameters + "&searchString=" + _search
    }

    if (_parameters) {
        urlParameters = urlParameters + _parameters
    }

    if (_sortField) {
        urlParameters = urlParameters + "&sortField=" + _sortField + "&sortOrder=" + _sortOrder
    }
    if(_states) {
        for(String state: _states){
            urlParameters = urlParameters + "&order.states=" + state
        }
    }
    if(_paymentTypes){
        for(String type: _paymentTypes){
            urlParameters = urlParameters + "&order.paymentTypes=" + type
        }
    }
    if (_from) {
        urlParameters = urlParameters + "&txtFromDate=" + _from
    }
    if (_to) {
        urlParameters = urlParameters + "&txtToDate=" + _to
    }
    if (_frags) {
        urlParameters = urlParameters + _frags;
    }
}%

#{if _page > 1}
    #{if _search}
        <a href="?page=1${urlParameters}" title="&{'first.page'}">&lt;&lt;</a>
        <a href="?page=${_page-1}${urlParameters}" title="&{'previous.page'}">&nbsp;&lt;&nbsp;</a>
    #{/if}
    #{else}
        <a href="?page=1${urlParameters}" title="&{'first.page'}">&lt;&lt;</a>
        <a href="?page=${_page-1}${urlParameters}" title="&{'previous.page'}">&nbsp;&lt;&nbsp;</a>
    #{/else}
#{/if}
#{if _totalPages > 0}
<span>
  Page
  <input  class="pages" maxlength="9" type="text" data-params="${urlParameters}" value="${_page}"  onKeyPress="if (event.keyCode == 13){page=parseInt(this.value) || ${_page};window.location.href='?page='+page;return false}" >
  *{<select class="pages">
    #{list items:1.._totalPages, as:'i'}
      <option value="${i}"#{if i==_page} selected#{/if} data-params="${urlParameters}">${i}</option>
    #{/list}
  </select>}*
  of ${_totalPages}
</span>
#{/if}
#{if _page < _totalPages}
    #{if _search}
        <a href="?page=${_page+1}${urlParameters}" title="&{'next.page'}">&nbsp;&gt;&nbsp;</a>
        <a href="?page=${_totalPages}${urlParameters}" title="&{'last.page'}">&gt;&gt;</a>
    #{/if}
    #{else }
        <a href="?page=${_page+1}${urlParameters}" title="&{'next.page'}">&nbsp;&gt;&nbsp;</a>
        <a href="?page=${_totalPages}${urlParameters}" title="&{'last.page'}">&gt;&gt;</a>
    #{/else}
#{/if}