#{extends 'subscribe_layout.html' /}
#{set 'moreHead'}
    <style type="text/css">
        #content-sidebar{
            display: block;
        }
    </style>
#{/set}
#{set 'moreHead'}
<script type="text/javascript" src="${baseUrl}/public/javascripts/plugins/iframeResizer.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        document.forms['subscribe-input-form'].submit();
    });
    $(document).ready(function () {
        $('#splus-subscribe-frame').iFrameResize({checkOrigin: false, log: false, heightCalculationMethod: 'bodyScroll', minHeight:600});
    });
</script>
#{/set}

<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-T66XT2"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-T66XT2');</script>
<!-- End Google Tag Manager -->

<div id="content-wrapper">
    <div class="container">
        <div id="cookie-alert-container" class="row" style="display: none;">
            <div class="span12">
                <div class="cookie-alert">Du ser detta meddelande på grund av att din webbläsare inte tillåter cookies. För att
                    sidan skall fungera korrekt måste du tillåta cookies i din webbläsare.
                </div>
            </div>
        </div>

        <div class="row">
            <div id="content-main" class="span6">
                <div id="wrapper">
                    <div id="activate-account">
                    </div>
                    <form name="subscribe-input-form" action="${baseUrl}/subscribe" method="post" target="splus-subscribe-frame" style="display: none;">
                        <input type="hidden" name="appId" value="dagensnyheter.se">
                        <input type="hidden" name="callback" value="${callbackUrl}">
                        <input type="hidden" name="product" value="">
                        <input type="hidden" name="matrix_campaignid" value="papp">
                        #{if haveOneOffer}
                            <input type="hidden" name="paymentMethods" value="${student ? "KLARNA2": paymentMethods}">
                            <input type="hidden" name="productId_0" value="DNBAS">
                            <input type="hidden" name="mustNotHave_0" value="*-BAS-*,*-MELLAN-*,*-PREMIUM-*">
                            <input type="hidden" name="matrix_periodid_0" value="1 MÅNAD">
                            <input type="hidden" name="matrix_serviceid_0" value="7-DAG">
                            <input type="hidden" name="matrix_rateheadid_0" value="DNBAS">
                            <input type="hidden" name="productDesc_0" value="DN Bas för 99 kr/mån">
                            <input type="hidden" name="price_sthn_0" value="9900">
                            <input type="hidden" name="price_sth_0" value="9900">
                            <input type="hidden" name="price_riks_0" value="0">
                            #{if student}
                                <input type="hidden" name="student" value="true">
                            #{/if}
                        #{/if}
                        #{else}
                        <input type="hidden" name="payment_methods_0" value="${student ? "KLARNA2": "KLARNA,KLARNA2,CREDIT_CARD,INVOICE"}">
                        <input type="hidden" name="payment_methods_1" value="${student ? "KLARNA2": "KLARNA,KLARNA2,CREDIT_CARD"}">
                        <input type="hidden" name="payment_methods_2" value="${student ? "KLARNA2": "KLARNA,KLARNA2"}">
                        <input type="hidden" name="payment_methods_3" value="${student ? "KLARNA2": "KLARNA,KLARNA2"}">
                        <input type="hidden" name="payment_methods_4" value="${student ? "KLARNA2": "KLARNA,KLARNA2"}">
                        <input type="hidden" name="payment_methods_5" value="${student ? "KLARNA2": "KLARNA,KLARNA2"}">
                        <input type="hidden" name="payment_methods_6" value="${student ? "KLARNA2": "KLARNA,KLARNA2"}">
                        <input type="hidden" name="payment_methods_7" value="${student ? "KLARNA2": "KLARNA,KLARNA2,CREDIT_CARD"}">
                        <input type="hidden" name="payment_methods_8" value="${student ? "KLARNA2": "KLARNA,KLARNA2,CREDIT_CARD"}">
                        <input type="hidden" name="productId_8" value="DNMELLAN">
                        <input type="hidden" name="productId_4" value="DNPREMIUM">
                        <input type="hidden" name="productId_5" value="DNPREMIUM">
                        <input type="hidden" name="productId_6" value="DNPREMIUM">
                        <input type="hidden" name="productId_7" value="DNMELLAN">
                        <input type="hidden" name="productId_0" value="DNBAS">
                        <input type="hidden" name="productId_1" value="DNMELLAN">
                        <input type="hidden" name="productId_2" value="DNPREMIUM">
                        <input type="hidden" name="productId_3" value="DNPREMIUM">
                        <input type="hidden" name="mustNotHave_0" value="*-BAS-*,*-MELLAN-*,*-PREMIUM-*">
                        <input type="hidden" name="mustNotHave_1" value="*-BAS-*,*-MELLAN-*,*-PREMIUM-*">
                        <input type="hidden" name="mustNotHave_2" value="*-BAS-*,*-MELLAN-*,*-PREMIUM-*">
                        <input type="hidden" name="matrix_serviceid_8" value="7-DAG">
                        <input type="hidden" name="mustNotHave_4" value="PAPPER-BAS-*">
                        <input type="hidden" name="matrix_serviceid_3" value="7-DAG">
                        <input type="hidden" name="matrix_serviceid_2" value="7-DAG">
                        <input type="hidden" name="matrix_serviceid_1" value="7-DAG">
                        <input type="hidden" name="matrix_serviceid_0" value="7-DAG">
                        <input type="hidden" name="matrix_serviceid_7" value="7-DAG">
                        <input type="hidden" name="matrix_serviceid_6" value="7-DAG">
                        <input type="hidden" name="matrix_serviceid_5" value="7-DAG">
                        <input type="hidden" name="matrix_serviceid_4" value="7-DAG">
                        <input type="hidden" name="matrix_periodid_2" value="1 MÅNAD">
                        <input type="hidden" name="matrix_periodid_3" value="1 MÅNAD">
                        <input type="hidden" name="matrix_periodid_0" value="1 MÅNAD">
                        <input type="hidden" name="matrix_periodid_1" value="1 MÅNAD">
                        <input type="hidden" name="matrix_periodid_6" value="1 MÅNAD">
                        <input type="hidden" name="matrix_periodid_7" value="1 MÅNAD">
                        <input type="hidden" name="matrix_periodid_4" value="1 MÅNAD">
                        <input type="hidden" name="matrix_periodid_5" value="1 MÅNAD">
                        <input type="hidden" name="matrix_periodid_8" value="1 MÅNAD">
                        <input type="hidden" name="mustNotHave_3" value="PAPPER-MELLAN-*">
                        <input type="hidden" name="price_sthn_8" value="14900">
                        <input type="hidden" name="price_sthn_4" value="29900">
                        <input type="hidden" name="price_sthn_5" value="29900">
                        <input type="hidden" name="price_sthn_6" value="29900">
                        <input type="hidden" name="price_sthn_7" value="14900">
                        <input type="hidden" name="price_sthn_0" value="9900">
                        <input type="hidden" name="price_sthn_1" value="14900">
                        <input type="hidden" name="price_sthn_2" value="29900">
                        <input type="hidden" name="price_sthn_3" value="20000">
                        <input type="hidden" name="matrix_rateheadid_3" value="pappPrem">
                        <input type="hidden" name="matrix_rateheadid_2" value="DNPREMIUM">
                        <input type="hidden" name="matrix_rateheadid_1" value="DNMELLAN">
                        <input type="hidden" name="matrix_rateheadid_0" value="DNBAS">
                        <input type="hidden" name="matrix_rateheadid_7" value="BasMedium">
                        <input type="hidden" name="matrix_rateheadid_6" value="DNPREMIUM">
                        <input type="hidden" name="matrix_rateheadid_5" value="DNPREMIUM">
                        <input type="hidden" name="matrix_rateheadid_4" value="MediumPremium">
                        <input type="hidden" name="matrix_rateheadid_8" value="DNMELLAN">
                        <input type="hidden" name="productDesc_2" value="DN Premium för 299 kr/mån">
                        <input type="hidden" name="productDesc_3" value="Uppgradera till premium för extra 200 kr/mån">
                        <input type="hidden" name="productDesc_0" value="DN Bas för 99 kr/mån">
                        <input type="hidden" name="productDesc_1" value="DN Mellan för 149 kr/mån">
                        <input type="hidden" name="productDesc_6" value="Uppgradera till premium för totalt 299 kr/mån">
                        <input type="hidden" name="productDesc_7" value="Uppgradera till mellan för extra 50 kr/mån">
                        <input type="hidden" name="productDesc_4" value="Uppgradera till premium för extra 150 kr/mån">
                        <input type="hidden" name="productDesc_5" value="Uppgradera till premium för totalt 299 kr/mån">
                        <input type="hidden" name="productDesc_8" value="Uppgradera till mellan för totalt 149 kr/mån">
                        <input type="hidden" name="price_sth_7" value="5000">
                        <input type="hidden" name="price_sth_6" value="29900">
                        <input type="hidden" name="price_sth_5" value="29900">
                        <input type="hidden" name="price_sth_4" value="15000">
                        <input type="hidden" name="price_sth_3" value="20000">
                        <input type="hidden" name="price_sth_2" value="29900">
                        <input type="hidden" name="price_sth_1" value="14900">
                        <input type="hidden" name="price_sth_0" value="9900">
                        <input type="hidden" name="price_sth_8" value="14900">
                        <input type="hidden" name="mustHave_3" value="PAPPER-BAS-*,DIGITAL-BAS-A">
                        <input type="hidden" name="mustHave_6" value="DIGITAL-MELLAN-N">
                        <input type="hidden" name="mustHave_7" value="PAPPER-BAS-*,DIGITAL-BAS-A">
                        <input type="hidden" name="mustHave_4" value="PAPPER-MELLAN-*,DIGITAL-MELLAN-A">
                        <input type="hidden" name="mustHave_5" value="DIGITAL-BAS-N">
                        <input type="hidden" name="mustHave_8" value="DIGITAL-BAS-N">
                        <input type="hidden" name="price_riks_8" value="0">
                        <input type="hidden" name="price_riks_2" value="0">
                        <input type="hidden" name="price_riks_3" value="0">
                        <input type="hidden" name="price_riks_0" value="0">
                        <input type="hidden" name="price_riks_1" value="0">
                        <input type="hidden" name="price_riks_6" value="0">
                        <input type="hidden" name="price_riks_7" value="0">
                        <input type="hidden" name="price_riks_4" value="0">
                        <input type="hidden" name="price_riks_5" value="0">
                            #{if student}
                                <input type="hidden" name="student" value="true">
                            #{/if}
                        #{/else}
                    </form>

                    <iframe id="splus-subscribe-frame" name="splus-subscribe-frame" src="#"  frameBorder="0" style="height:600px;width: 100%;overflow:scroll !important;-webkit-overflow-scrolling:touch !important;"></iframe>
                    <iframe id="splus-subscribe-frame-hidden" name="splus-subscribe-frame-hidden" src="#"  frameBorder="0" style="display:none;height:600px;width: 100%;overflow:scroll !important;-webkit-overflow-scrolling:touch !important;"></iframe>
                </div>
            </div>

            <div id="content-sidebar" class="span6">
                <span><div id="side-image"></div></span>
            </div>

        </div>
    </div>

</div>
