#{extends 'subscribe_layout_di.html' /}
#{set 'moreHead'}
<style type="text/css">
    #content-sidebar {
        display: block;
    }
</style>
#{/set}
#{set 'moreHead'}
<script type="text/javascript" src="${baseUrl}/public/javascripts/plugins/iframeResizer.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        document.forms['subscribe-input-form'].submit();
        $("#splus-subscribe-frame").show();
    });
    $(document).ready(function () {
        $('#splus-subscribe-frame').iFrameResize({
            checkOrigin: false,
            log: false,
            heightCalculationMethod: 'bodyScroll',
            minHeight: 600
        });
    });
</script>
#{/set}

<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-T66XT2"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-T66XT2');</script>
<!-- End Google Tag Manager -->

<div class="container">
    <div class="row">
        <div class="plate clearfix">

            <div id="wrapper" class="col-md-6" style="overflow: hidden;">
                <div id="activate-account">
                </div>
                <form name="subscribe-input-form" action="${baseUrl}/subscribe" method="post"
                      target="splus-subscribe-frame" style="display: none;">
                    <input type="hidden" name="appId" value="di.se">

                    <input type="hidden" name="callback" value="${callbackUrl}">

                    <input type="hidden" name="product" value="">

                    <input type="hidden" name="payment_methods_0" value="${student ? "KLARNA2": "KLARNA2,CREDIT_CARD,INVOICE"}">
                    <input type="hidden" name="payment_methods_1" value="${student ? "KLARNA2": "KLARNA2,CREDIT_CARD,INVOICE"}">
                    <input type="hidden" name="payment_methods_2" value="${student ? "KLARNA2": "KLARNA2,CREDIT_CARD,INVOICE"}">
                    <input type="hidden" name="payment_methods_3" value="${student ? "KLARNA2": "INVOICE,CREDIT_CARD,KLARNA2"}">
                    <input type="hidden" name="payment_methods_4" value="${student ? "KLARNA2": "INVOICE,CREDIT_CARD,KLARNA2"}">
                    <input type="hidden" name="payment_methods_5" value="${student ? "KLARNA2": "INVOICE,CREDIT_CARD,KLARNA2"}">
                    <input type="hidden" name="payment_methods_6" value="${student ? "KLARNA2": "INVOICE,CREDIT_CARD,KLARNA2"}">
                    <input type="hidden" name="payment_methods_7" value="${student ? "KLARNA2": "INVOICE,CREDIT_CARD,KLARNA2"}">
                    <input type="hidden" name="payment_methods_8" value="${student ? "KLARNA2": "INVOICE,CREDIT_CARD,KLARNA2"}">

                    <input type="hidden" name="productId_0" value="DI_DIG">
                    <input type="hidden" name="productId_1" value="DI_DIG">
                    <input type="hidden" name="productId_2" value="DI_MAX">
                    <input type="hidden" name="productId_3" value="DIPREMIUMAX">
                    <input type="hidden" name="productId_4" value="DIPREMIUMAX">
                    <input type="hidden" name="productId_5" value="DIPREMIUMAX">
                    <input type="hidden" name="productId_6" value="DIPREMIUMAX">
                    <input type="hidden" name="productId_7" value="DIMELLANAX">
                    <input type="hidden" name="productId_8" value="DIMELLANAX">

                    <input type="hidden" name="mustNotHave_0" value="*-IPAD_01-*,*-IPAD_02-*">
                    <input type="hidden" name="mustNotHave_1" value="*-IPAD_01-*,*-IPAD_02-*">

                    <input type="hidden" name="mustHave_3" value="PAPPER-BAS-*,DIGITAL-BAS-A">
                    <input type="hidden" name="mustHave_4" value="PAPPER-MELLAN-*,DIGITAL-MELLAN-A">
                    <input type="hidden" name="mustHave_5" value="DIGITAL-BAS-N">
                    <input type="hidden" name="mustHave_6" value="DIGITAL-MELLAN-N">
                    <input type="hidden" name="mustHave_7" value="PAPPER-BAS-*,DIGITAL-BAS-A">
                    <input type="hidden" name="mustHave_8" value="DIGITAL-BAS-N">

                    <input type="hidden" name="kayak_lCampNo_0" value="2117">
                    <input type="hidden" name="kayak_lCampNo_1" value="2117">
                    <input type="hidden" name="kayak_lCampNo_2" value="2117">
                    <input type="hidden" name="kayak_lCampNo_3" value="2117">
                    <input type="hidden" name="kayak_lCampNo_4" value="2117">
                    <input type="hidden" name="kayak_lCampNo_5" value="2117">
                    <input type="hidden" name="kayak_lCampNo_6" value="2117">
                    <input type="hidden" name="kayak_lCampNo_7" value="2117">
                    <input type="hidden" name="kayak_lCampNo_8" value="2117">

                    <input type="hidden" name="kayak_lPricelistno_0" value="42">
                    <input type="hidden" name="kayak_lPricelistno_1" value="42">
                    <input type="hidden" name="kayak_lPricelistno_2" value="42">
                    <input type="hidden" name="kayak_lPricelistno_3" value="42">
                    <input type="hidden" name="kayak_lPricelistno_4" value="42">
                    <input type="hidden" name="kayak_lPricelistno_5" value="42">
                    <input type="hidden" name="kayak_lPricelistno_6" value="42">
                    <input type="hidden" name="kayak_lPricelistno_7" value="42">
                    <input type="hidden" name="kayak_lPricelistno_8" value="42">

                    <input type="hidden" name="kayak_sTargetGroup_0" value="IDISEPUFF">
                    <input type="hidden" name="kayak_sTargetGroup_1" value="IDISEPUFF">
                    <input type="hidden" name="kayak_sTargetGroup_2" value="IDISEPUFF">
                    <input type="hidden" name="kayak_sTargetGroup_3" value="IDISEPUFF">
                    <input type="hidden" name="kayak_sTargetGroup_4" value="IDISEPUFF">
                    <input type="hidden" name="kayak_sTargetGroup_5" value="IDISEPUFF">
                    <input type="hidden" name="kayak_sTargetGroup_6" value="IDISEPUFF">
                    <input type="hidden" name="kayak_sTargetGroup_7" value="IDISEPUFF">
                    <input type="hidden" name="kayak_sTargetGroup_8" value="IDISEPUFF">

                    <input type="hidden" name="subskind_0" value="01">
                    <input type="hidden" name="subskind_1" value="01">
                    <input type="hidden" name="subskind_2" value="01">
                    <input type="hidden" name="subskind_3" value="01">
                    <input type="hidden" name="subskind_4" value="01">
                    <input type="hidden" name="subskind_5" value="01">
                    <input type="hidden" name="subskind_6" value="01">
                    <input type="hidden" name="subskind_7" value="01">
                    <input type="hidden" name="subskind_8" value="01">

                    <input type="hidden" name="price_sthn_0" value="19900">
                    <input type="hidden" name="price_sthn_1" value="44900">
                    <input type="hidden" name="price_sthn_2" value="59900">
                    <input type="hidden" name="price_sthn_3" value="20000">
                    <input type="hidden" name="price_sthn_4" value="29900">
                    <input type="hidden" name="price_sthn_5" value="29900">
                    <input type="hidden" name="price_sthn_6" value="29900">
                    <input type="hidden" name="price_sthn_7" value="14900">
                    <input type="hidden" name="price_sthn_8" value="14900">

                    <input type="hidden" name="productDesc_0" value="DI Digital för 199 kr/mån">
                    <input type="hidden" name="productDesc_1" value="DI Digital max för 449 kr/mån">
                    <input type="hidden" name="productDesc_2" value="DI Premium för 599 kr/mån">
                    <input type="hidden" name="productDesc_3" value="Uppgradera till premium för extra 200 kr/mån">
                    <input type="hidden" name="productDesc_4" value="Uppgradera till premium för extra 150 kr/mån">
                    <input type="hidden" name="productDesc_5" value="Uppgradera till premium för totalt 299 kr/mån">
                    <input type="hidden" name="productDesc_6" value="Uppgradera till premium för totalt 299 kr/mån">
                    <input type="hidden" name="productDesc_7" value="Uppgradera till mellan för extra 50 kr/mån">
                    <input type="hidden" name="productDesc_8" value="Uppgradera till mellan för totalt 149 kr/mån">

                    <input type="hidden" name="productExtraDesc_0" value="[{&quot;name&quot;:&quot;Rubrik&quot;,&quot;value&quot;:&quot;Text&quot;},{&quot;name&quot;:&quot;Rubrik&quot;,&quot;value&quot;:&quot;Text&quot;},{&quot;name&quot;:&quot;Rubrik&quot;,&quot;value&quot;:&quot;Text&quot;}]">
                    <input type="hidden" name="productExtraDesc_1" value='[{"name":"Du betalar","value":"149 kr"}]'>
                    <input type="hidden" name="productExtraDesc_2" value='[{"name":"Rabatt","value":"59 kr"},{"name":"Premiens värde","value":"49 kr"},{"name":"Du betalar","value":"299 kr"}]'>
                    <input type="hidden" name="productExtraDesc_3" value='[{"name":"Du betalar","value":"200 kr"}]'>
                    <input type="hidden" name="productExtraDesc_4" value='[{"name":"Du betalar","value":"150 kr"}]'>
                    <input type="hidden" name="productExtraDesc_5" value='[{"name":"Du betalar","value":"299 kr"}]'>
                    <input type="hidden" name="productExtraDesc_6" value='[{"name":"Du betalar","value":"299 kr"}]'>
                    <input type="hidden" name="productExtraDesc_7" value='[{"name":"Du betalar","value":"50 kr"}]'>
                    <input type="hidden" name="productExtraDesc_8" value='[{"name":"Du betalar","value":"149 kr"}]'>

                    <input type="hidden" name="price_sth_0" value="19900">
                    <input type="hidden" name="price_sth_1" value="44900">
                    <input type="hidden" name="price_sth_2" value="59900">
                    <input type="hidden" name="price_sth_3" value="20000">
                    <input type="hidden" name="price_sth_4" value="15000">
                    <input type="hidden" name="price_sth_5" value="29900">
                    <input type="hidden" name="price_sth_6" value="29900">
                    <input type="hidden" name="price_sth_7" value="5000">
                    <input type="hidden" name="price_sth_8" value="14900">

                    <input type="hidden" name="price_riks_0" value="0">
                    <input type="hidden" name="price_riks_1" value="0">
                    <input type="hidden" name="price_riks_2" value="0">
                    <input type="hidden" name="price_riks_3" value="0">
                    <input type="hidden" name="price_riks_4" value="0">
                    <input type="hidden" name="price_riks_5" value="0">
                    <input type="hidden" name="price_riks_6" value="0">
                    <input type="hidden" name="price_riks_7" value="0">
                    <input type="hidden" name="price_riks_8" value="0">
                    #{if student}
                        <input type="hidden" name="student" value="true">
                    #{/if}

                    #{if offer}
                        <input type="hidden" name="origin" value="di-pren">
                    #{/if}
                </form>

                <iframe id="splus-subscribe-frame" name="splus-subscribe-frame" src="#" frameBorder="0"
                        style="height:600px;width: 100%;overflow:scroll !important;-webkit-overflow-scrolling:touch !important;"></iframe>
                <iframe id="splus-subscribe-frame-hidden" name="splus-subscribe-frame-hidden" src="#" frameBorder="0"
                        style="display:none;height:600px;width: 100%;overflow:scroll !important;-webkit-overflow-scrolling:touch !important;"></iframe>
            </div>

            <div id="content-sidebar" class="col-md-6">
                <img class="img-responsive" src="/public/images/di/digital_730_ny.png" align="Di.se"/>
            </div>
        </div>
    </div>
</div>
