#{extends 'main.html' /}

<div id="content-container" class="clearfix">
    <div id="main-container">
        <div id="main">
            <section id="search-results" class="filtered-content">
                <h2>
                    Sökresultat
                    <span class="extra">Antal träffar: ${numHits}</span>
                </h2>
                <div class="articles-container clearfix">
                    #{list items:articles, as:'article'}
                    <article class="post ${article_parity}">
                        <div class="post-meta">
                            <span class="category" title="Avdelning: ${article.metaProperties.get("Section")}">${article.metaProperties.get("Section")}</span>
                            <span class="date" title="Pulicerad: ${article.publicationDate.asdate("MMMM dd, yyyy")}">${article.publicationDate.asdate("MMMM dd, yyyy")}</span>
                        </div>
                        #{if article.headline}
                        <h3><a href="@{Articles.show(article.id)}">${article.headline.removeTags()}</a></h3>
                        #{/if}
                        #{if article.mainImageId}
                        <img src="@{Images.show(article?.mainImageId,310,175)}" alt="" class="thumbnail" />
                        #{/if}
                        #{else}
                        <img src="@{'/public/images/dummy.png'}" alt="" width="310" height="175"/>
                        #{/else}
                        <div class="entry">
                            <p>#{article.body id:article.id, length:200, removeTags:true /}</p>
                        </div>
                        <div class="post-more">
                            <span class="read-more"><a href="@{Articles.show(article.id)}">Läs mer</a></span>
                            #{if article.authorIds.size() > 0}
                            <span class="authors">
                                Skribent: 
                                #{list items:article.authorIds, as:'authorId'}
                                #{author.name id:authorId /}
                                #{/list}
                            </span>
                            #{/if}
                        </div>
                    </article>
                    #{/list}
                </div>
                <ul class="pagination">
                    <li><span>1-10</span></li>
                    <li><a href="" onclick="alert('Not yet implemented');return false;">11-20</a></li>
                    <li><a href="" onclick="alert('Not yet implemented');return false;">Nästa</a></li>
                </ul>
            </section>
        </div>
    </div>
    <aside id="sidebar">
        <section class="filters">
            <h2>Träffar per datum</h2>
                <ul>
                #{if oneWeekAgo}
                <li><a href="" onclick="alert('Not yet implemented');return false;">1 vecka tillbaka<span>${oneWeekAgo}</span></a></li>
                #{/if}
                
                #{if oneMonthAgo}
                <li><a href="" onclick="alert('Not yet implemented');return false;">1 månad tillbaka<span>${oneMonthAgo}</span></a></li>
                #{/if}
                
                #{if sixMonthsAgo}
                <li><a href="" onclick="alert('Not yet implemented');return false;">6 månader tillbaka<span>${sixMonthsAgo}</span></a></li>
                #{/if}
                
                #{if oneYearAgo}
                <li><a href="" onclick="alert('Not yet implemented');return false;">1 år tillbaka<span>${oneYearAgo}</span></a></li>
                #{/if}
                
                #{if tenYearsAgo}
                <li><a href="" onclick="alert('Not yet implemented');return false;">10 år tillbaka<span>${tenYearsAgo}</span></a></li>
                #{/if}
                
                #{list items:years, as:'yearFacet'}
                <li><a href="@{Search.index(query, null, null, yearFacet.name)}">${yearFacet.name}<span>${yearFacet.count}</span></a></li>
                #{/list}
            </ul>
        </section>
        
        <section class="filters">
            <h2>Träffar per avdelning</h2>
            <ul>
                #{list items:sectionFacets, as:'sectionFacet'}
                <li><a href="@{Search.index(query, sectionFacet.name, null)}">${sectionFacet.name}<span>${sectionFacet.count}</span></a></li>
                #{/list}
            </ul>
        </section>

        <section class="filters">
            <h2>Träffar per författare</h2>
            <ul class="options">
                #{list items:authors, as:'authorFacet'}
                <li><a href="@{Search.index(query, null, authorFacet.name)}">#{author.name id:authorFacet.name /}<span>${authorFacet.count}</span></a></li>
                #{/list}
            </ul>
        </section>
    </aside>
</div>
