<script type="text/javascript">
    $(document).ready(function () {
        if (!($.browser.msie && parseInt($.browser.version, 10) <= 9)) {
            $.ajax({
                type: "GET",
                async: true,
                dataType: "json",
                xhrFields: {
                    withCredentials: true
                },
                crossDomain: true,
                url: "${checkJsonLoginStatusUrl}",
                success: function (json) {
                    $('#login-status').flash_message({
                        text: 'Login status: ' + JSON.stringify(json),
                        how: 'append'
                    });
                }});
        }
    });
</script>
<script type="text/javascript">
    function getCookie(name) {
        var value = "; " + document.cookie;
        var parts = value.split("; " + name + "=");
        if (parts.length == 2) return parts.pop().split(";").shift();
    }
    $(document).ready(function () {
        // SSO check logged in without calling S+
        var ssoCookieValue = getCookie("${brandId}:sso");
        $('#sso-cookies-login-status').flash_message({
            text: 'Login status without calling S+: ' + ((!ssoCookieValue) ? 'Not logged in' : ('Logged in, access_token: ' + ssoCookieValue)),
            how: 'append'
        });
    });
</script>