<header>
    <div id="logo">
        <a href="@{Application.index}"><img src="@{'/public/images/bonniernews/logo.png'}" alt="Ripple"/></a>

        <h1><a href="@{Application.index}">Ripple</a></h1>
    </div>
    <div id="header-links">
    #{if customer.loggedIn}
        *{#{if !customer.entitled}}*
        *{#{/if}}*
        <div id="authentication-links">
            #{if customer.facebookId}
                <img src="http://graph.facebook.com/${customer.facebookId}/picture?height=34&key=${new java.util.Random().nextFloat()}"/>
            #{/if}
            #{if customer.googlePlusId}
                <script type="text/javascript">

                    $.ajax({
                        url: "http://picasaweb.google.com/data/entry/api/user/${customer.googlePlusId}?alt=json",
                        success: function(data){
                            if(!data.error){
                                $("#authentication-links").prepend('<img src="' + data.entry.gphoto$thumbnail.$t + '" />');
                            }
                        }
                    });
                </script>
            #{/if}
            <a href="/subscribe/webstand">Subscribe</a>
            <a href="/storefront">
                Top up my subscription
            </a>
            <a href="${signoutUrl}">
                Sign Out
            </a>
            *{<a href="${settingsUrl}">My Preferences</a>}*
            <a href="${signoutBipUrl}">
                Sign Out With BIP
            </a>
        </div>
    #{/if}
    #{else}
        <div id="authentication-links">
            <a href="/subscribe/webstand">Subscribe</a>
            <a href="/storefront">Sign up</a>
            <a href="${signinUrl}">Sign In</a>
            <a href="${bipAuthorizeUrl}">Sign in with BIP</a>
        </div>
    #{/else}
    </div>
    *{<div id="banner-ad"></div>}*
</header>