<div id="main-feature">
    <div class="container">
        <article>
            <img src="@{'/public/images/register.jpg'}" alt="Register" width="300" height="167"/>
            <img src="@{'/public/images/digital_product.jpg'}" alt="Digital product" width="300" height="167"/>
            <img src="@{'/public/images/paper_product.jpg'}" alt="Paper product" width="300" height="167"/>
    		*{<div class="outer-wrap">          	}*
        	    *{<div class="inner-wrap">}*
        		    *{<div class="post-meta">}*
                        *{<span class="category"><a href="/">Weather</a></span>}*
                        *{<span class="date">January 11, 2011</span>}*
                    *{</div>}*
        	        *{<h2><a href="/">Bai Bang hjälpte miljoner fattiga</a></h2>}*
   		    	    *{<div class="entry">}*
       			 	    *{<p>Det nu avvecklade svenska miljardbiståndet till Vietnam, däribland till hårt kritiserade projektet Bai Bang, var en framgång som lyfte miljontals människor ur fattigdom. <span class="more">Det visar den största utvärderingen av Sidas bistånd som någonsin gjorts.</span></p>}*
				    *{</div>}*
				*{</div>}*
			*{</div>}*
		</article>
    </div>
</div>