<div id="metered-model-popup" style="display: none">
    <div class="b-meteredmodel-popup_container">
        <div class="b-meteredmodel-popup_limit">
            <img src="/public/images/samples/offer.jpg">
            <div class="b-meteredmodel-popup_limit_text_top">
            </div>

            <div class="b-meteredmodel-popup_limit_text_bottom">
                <p><a href="${signinUrl}"><span style="text-decoration: underline;">Har du glömt att logga in?</span></a></p>
            </div>

            <div class="b-meteredmodel-popup_limit_zone_right">
                <div class="headline">
                    Nu har du läst dina
                    <span id="metered-model-limit">5</span>
                    fria artiklar för den här
                    <span id="metered-model-period">7</span>
                    ‑dagarsperioden.
                </div>

                <div class="description">
                    <p>Få obegränsad tillgång</p>
                    till hela
                    <span id="metered-model-appId">${appId}</span>
                    för bara
                    <span id="metered-model-price">28 kr/månad</span>
                    </p>
                </div>

                <a href="/storefront" class="btn_offer">
                    Beställ
                    <div class="icon"></div>
                </a>
            </div>
        </div>
    </div>

</div>