<section id="more-news" class="clearfix">
    <article class="post">
	    <div class="post-meta">
            <span class="category"><a href="/">Sport</a></span>
            <span class="date">January 11, 2010</span>
        </div>
        <h2><a href="/">A 3 column post</a></h2>
        <a href="/" ><img src="@{'/public/images/dummy.png'}" alt="" width="136" height="80" class="thumbnail"/></a>        		        
        <div class="entry">
		    <p>Ante amet est tincidunt ornare vitae odio, nunc enim id turpis egestas nibh, ligula varius vel sodales, eget nunc in luctus lorem laoreet orci. Morbi justo euismod. Eget mi eros magna suscipit.</p>
	    </div>
    </article>
    <article class="post">
        <div class="post-meta">
            <span class="category"><a href="/">Economy</a></span>
            <span class="date">December 24, 2009</span>
        </div>
        <h2><a href="/">Gravida vivamus adipiscing</a></h2>
        <a href="/" ><img src="@{'/public/images/dummy.png'}" alt="" width="136" height="80" class="thumbnail"/></a>        		        
        <div class="entry">
		    <p>A cras tincidunt, ut tellus et. Gravida scelerisque, ipsum sed iaculis, nunc non nam. Placerat sed phasellus, purus purus elit.</p>
	    </div>
    </article>
    <article class="post">
        <div class="post-meta">
            <span class="category"><a href="/">Weather</a></span>
            <span class="date">December 11, 2009</span>
        </div>
        <h2><a href="/">Morbi rhoncus arcu egestas erat</a></h2>
        <a href="/"><img src="@{'/public/images/dummy.png'}" alt="" width="136" height="80" class="thumbnail"/></a>        		        
        <div class="entry">
		    <p>Morbi rhoncus arcu egestas erat, convallis eros laoreet cubilia nulla, integer lectus sequi quisque, nunc suspendisse in a. Tellus massa</p>
	    </div>                             
    </article>
    <article class="post">
	    <div class="post-meta">
            <span class="category"><a href="/">Economy</a></span>
            <span class="date">November 11, 2009</span>
        </div>
        <h2><a href="/">Curabitur tincidunt</a></h2>
        <a href="/" ><img src="@{'/public/images/dummy.png'}" alt="" width="136" height="80" class="thumbnail"/></a>        		        
        <div class="entry">
		    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed lobortis justo quis risus varius quis aliquam neque hendrerit. Proin sodales</p>
	    </div>
    </article>
    <article class="post">
        <div class="post-meta">
            <span class="category"><a href="/">Weather</a></span>
            <span class="date">October 11, 2009</span>
        </div>
        <h2><a href="/">Commodo pretium egestas</a></h2>
        <a href="/" ><img src="@{'/public/images/dummy.png'}" alt="" width="136" height="80" class="thumbnail"/></a>        		        
        <div class="entry">
		    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec in augue tellus. Donec diam neque, laoreet non adipiscing sit amet,</p>
	    </div>
    </article>
    <article class="post last">
        <div class="post-meta">
            <span class="category"><a href="/">Culture</a></span>
            <span class="date">October 11, 2009</span>
        </div>
        <h2><a href="/">Ut vitae tellus massa</a></h2>
        <a href="/"><img src="@{'/public/images/dummy.png'}" alt="" width="136" height="80" class="thumbnail"/></a>        		        
        <div class="entry">
		    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus quis ipsum mi. Ut est augue, mollis in pellentesque ac, molestie</p>
	    </div>
    </article>
</section>