<section id="recent-news" class="filtered-content">
    <h2>Recent News <a class="extra subscribe" href="/">Subscribe</a></h2>
    <div class="filter">
        <span>Sections:</span>
        <ul>
            <li><a href="/" class="active">Latest</a></li>
            <li><a href="/">Economy</a></li>
            <li><a href="/">Sport</a></li>
            <li><a href="/">Culture</a></li>
            <li><a href="/">Weather</a></li>
        </ul>
    </div>
    <div class="articles-container">
        <article class="post odd">
            <div class="post-meta">
                <span class="category"><a href="/">Sport</a></span>
                <span class="date">${articles.get(0).publicationDate.asdate("MMMM dd, yyyy")}</span>
            </div>
            <h3><a href="/">${articles.get(0).headline.removeTags()}</a></h3>
            <a href="/"><img src="@{'/public/images/syd8f596.jpg'}" alt="" width="297" height="167" class="thumbnail"/></a>
            <div class="entry">
                <p>${articles.get(0).body?.raw()}</p>
            </div>
            <div class="post-more">
                #{if customer.entitled}
                    <span class="read-more"><a href="@{Articles.show(articles.get(0).id)}">Read More</a></span>
                #{/if}
                #{else}
                    <span class="plus">PLUS</span>
                    <span class="read-more"><a href="@{Storefront.index()}">Read More</a></span>
                #{/else}
                <span class="comments"><a href="/">3 Comments</a></span>
            </div>
        </article>
        <article class="post even">
            <div class="post-meta">
                <span class="category"><a href="/">Sport</a></span>
                <span class="date">${articles.get(1).publicationDate.asdate("MMMM dd, yyyy")}</span>
            </div>
            <h3><a href="/">${articles.get(1).headline.removeTags()}</a></h3>
            <a href="/"><img src="@{'/public/images/tintin-film.jpg'}" alt="" width="297" height="167" class="thumbnail"/></a>
            <div class="entry">
                <p>${articles.get(1).body?.raw()}</p>
            </div>
            <div class="post-more">
                #{if customer.entitled}
                    <span class="read-more"><a href="@{Articles.show(articles.get(1).id)}">Read More</a></span>
                #{/if}
                #{else}
                    <span class="plus">PLUS</span>
                    <span class="read-more"><a href="@{Storefront.index()}">Read More</a></span>
                #{/else}
                <span class="comments"><a href="/">3 Comments</a></span>
            </div>
        </article>
    </div>          
</section>