<aside id="sidebar">
    #{if session.get('customerId')}
    <div id="tagdiv" style="margin:20px 0px">
        <h3>Tag Me in</h3>
        <ul id="Tags" style="font-size:10px;">
        </ul>
    </div>
    #{/if}
    <div class="ad-wrap">
        <img src="@{'/public/images/123.jpg'}" alt="" width="300" height="250"/>
        Resor
    </div>

    #{if !session.get('customerId')}
    <div class="ad-wrap">
        <img src="@{'/public/images/fargstarkthempuff.jpg'}" alt="" width="300" height="250"/>
        Familj
    </div>
    #{/if}
    #{else}
        <!-- offer articles -->
        <div class="ad-wrap">
        <h3 class="category full" style="color:#666666;margin-bottom:10px;">
            OFFER ARTICLES
        </h3>
        <div style="clear:both"></div>
        #{list items:0..10, as:'i'}
            #{if i > 2}
            <article class="">
                <div class="">
                    <div class="thumbnail-container">
                        #{a @Articles.show(i,'offer')}
                            <img src="@{'/public/images/samples/'+ i+'.jpg'}" alt="" width="85" height="50" class="thumbnail"/>
                        #{/a}
                    </div>
                    <div class="entry">
                        <p class="summary" id="offerArticles" > #{a @Articles.show(i,'offer')}#{lorem.heading /}#{/a}</p>
                    </div>
                </div>
            </article>
            <div style="clear:both"></div>
            #{/if}
        #{/list}
        </div>
    #{/else}

    #{if session.get('customerId')}

        <!--
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.12/jquery-ui.min.js" type="text/javascript" charset="utf-8"></script>
        <script type="text/javascript" src="/public/libs/tag-it/tagit.js"></script>
        -->
        <!--link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/flick/jquery-ui.css"-->
        <!--link href="/public/libs/tag-it/jquery.tagit.css" rel="stylesheet" type="text/css"-->
        <script type="text/javascript">
            var customerToken = '${session.get('customerToken')}';
            customerToken =customerToken.replace(/^\s+|\s+$/gm,'');
            var customerId = '${session.get('customerId')}';
            customerId =customerId.replace(/^\s+|\s+$/gm,'');
            var apiEndpoint = '${play.configuration.get('api.endpoint')}';

            var  HASHTAG_VALID_REGEX =/[a-zA-Z0-9äöåÄÖÅ\u2000-\u206F\u2E00-\u2E7F]+([a-zAZ0-9äöåÄÖÅ\u2000-\u206F\u2E00-\u2E7F\+\*#@/\s])*$/;

            var $ajax = function(config){
                if(typeof config == 'undefined'){
                    throw new Error("wrong parameter");

                }else if(typeof config.url == 'undefined'){

                    throw new Error("missing url parameter");

                }else if(typeof config.type == 'undefined'){
                    config.type='GET';

                }else if(typeof config.data == 'undefined'){

                    config.data={};
                }
                else if(typeof config.success != "function" ){

                    config.success =function(data){};

                }else if(typeof config.complete != "function" ) {

                    config.complete = function (xhr, textStatus) {
                        //console.log(xhr.status);
                    };

                }else if(typeof config.dataType == 'undefined'){

                    config.dataType='JSON';
                }

                var proxyUrl ="/cross-origin?origin="+encodeURIComponent(config.url);
                $.ajax({
                    type: config.type,
                    crossDomain: true,
                    url: proxyUrl,
                    data:config.data,
                    success:config.success,
                    complete:config.complete,
                    dataType:'JSON'
                });//$.ajax
            }

            if(!console)
            {
                console ={log:function(msg){alert(msg)}}
            }

            function $setTagAlert(message)
            {
                var elmId ='#TagAlert';
                if(!message)
                {
                    $(elmId).remove();
                }else {
                    if($(elmId).get(0))
                    {
                        $(elmId).html(message);
                    }else
                    {
                        $('#tagdiv').prepend("<div id=\"TagAlert\" style=\"color:red;text-align: center;border:solid 2px greenyellow;\">"+message+"</div>")
                    }
                }
            }
            function initTag()
            {
                $("#Tags").tagit({triggerKeys:['enter'],
                    allowSpaces:true,
                    beforeTagAdded: function(event, ui) {
                        if (!ui.duringInitialization) {
                            //validate tag
                            if(!ui.tagLabel || !encodeURIComponent(ui.tagLabel))
                            {
                                $setTagAlert("&{'tag.invalid.message'}");
                                return false;
                            }
                            if(!HASHTAG_VALID_REGEX.test(ui.tagLabel) || ui.tagLabel.length > 50)
                            {

                                $setTagAlert("&{'tag.invalid.message'}");
                                return false;
                            }
                            var url = apiEndpoint + '/tags/user/' + customerId + '?access_token=' + customerToken + '&tag=' + encodeURIComponent(ui.tagLabel);
                            $ajax({
                                type: "POST",
                                crossDomain: true,
                                url: url,
                                data: {},
                                success: function () {
                                },
                                complete:function (xhr, textStatus) {
                                    if(xhr.status!=200){
                                        $setTagAlert("add tag error");
                                        ui.tag.remove();
                                    }else{
                                        $setTagAlert("");
                                    }
                                },
                                dataType: 'JSON'
                            });//$.ajax
                        }
                    },
                    beforeTagRemoved: function(evt, ui) {
                        if(typeof ui.tagLabel =='undefined' ) return false;
                        //validate tag
                        if(!ui.tagLabel || !encodeURIComponent(ui.tagLabel))
                        {
                            $setTagAlert("&{'tag.invalid.message'}");
                            return false;
                        }

                        if(!HASHTAG_VALID_REGEX.test(ui.tagLabel))
                        {
                            $setTagAlert("&{'tag.invalid.message'}");
                            return false;
                        }

                        var url = apiEndpoint + '/tags/user/' + customerId + '?access_token=' + customerToken + '&tag='+ encodeURIComponent(ui.tagLabel);
                        $ajax({
                            type: "DELETE",
                            crossDomain: true,
                            url: url,
                            data: {},
                            success: function () {
                            },
                            dataType: 'JSON'
                        });//$.ajax
                    }
                });//tagit
            }

            $(document).ready(function(){

                $('<link/>', {rel: 'stylesheet', href: '/public/libs/tag-it/jquery.tagit.css'}).appendTo('head');
                $('<link/>', {rel: 'stylesheet', href: 'http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/flick/jquery-ui.css'}).appendTo('head');

                $.getScript('https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.12/jquery-ui.min.js', function()
                {
                    $.getScript('/public/libs/tag-it/tagit.js', function()
                    {
                        if(!customerToken)
                        {
                            return;
                        }
                        var getUrl = apiEndpoint + '/tags/user/' + customerId + '?access_token=' + customerToken;
                        $ajax({
                            url: getUrl,
                            success: function (data){
                                if(typeof data.tag != 'undefined' && typeof data.tag.tags != 'undefined')
                                {
                                    if(typeof data.tag.tags == 'string'){

                                        $("#Tags").append('<li>'+data.tag.tags +'</li>');

                                    }else {
                                        for (i = 0; i < data.tag.tags.length; i++) {

                                            $("#Tags").append('<li>' + data.tag.tags[i] + '</li>');
                                        }
                                    }
                                }
                                initTag();
                            }
                        });//$.ajax


                    });//getScript
                });//jquery-ui



                console.log('customerToken:'+customerToken +",apiEndpoint: "+apiEndpoint);
            });//$(document).ready
        </script>
    #{/if}
</aside>
