#{extends 'main.html' /}

#{include 'Application/_main-feature.html'/}
<div id="content-container" class="clearfix">
	<div id="main-container">
	    <div id="main">
	        #{include 'Application/_recent-news.html'/}
        </div>
	</div>
	#{include 'Application/_sidebar.html'/}
</div>