#{extends 'main.html' /}
#{set 'moreHead'}
    <style type="text/css">
        #overlay {
            position: absolute;
            top: 0;
            left: 0;
            width:100%;
            height:100%;
            z-index:10;
            background-color: rgba(10,57,88,0.9);
            text-align: center;
            padding-top: 300px;

        }
    </style>
#{/set}
#{include 'Application/_main-feature.html'/}
<div id="content-container" class="clearfix">
    <div id="main-container">
        <div id="main">
        #{include 'Application/_recent-news.html'/}
        </div>
    </div>
#{include 'Application/_sidebar.html'/}
</div>

#{if !customer.loggedIn}
<div id="overlay">
        <div style="margin:0 auto">
        <iframe allowTransparency="true" src="${authenticationURL}/register-with-email?appId=${appId}&lc=sv&callback=${callback}&ts=${ts}&s=${s}" style="width:300px;min-height:300px" scrolling="no" frameBorder="0"></iframe>
        </div>
</div>
#{/if}
