#{extends 'main.html' /}

<div class="container">
    <h2 align="center" style="padding-top: 50px;">Registered And Paid Successfully!</h2>

    <h3 align="center" style="padding-top: 20px;">
        You must log in to view content.
    </h3>
</div>
