#{extends 'main.html' /}

<div class="container">
    <h2 align="center" style="padding-top: 50px;">You are now registered, please check your email to activate your account.</h2>

    <h3 align="center" style="padding-top: 20px;">
        You must log in to view content.
    </h3>

</div>
