#{extends 'main.html' /}

<div id="content-container" class="clearfix">
    <div id="main-container">
        <div id="main" class="content-bounder">
            #{form @Application.updateSetting(), id:'update-setting'}
                <div>
                    <p>Please choose the Application for Ripple. The application will be stored in your session</p>
                    <hr>
                    <br />
                    <label for="appId"><b>Application</b></label>
                    #{select 'appId', value:selectedAppId, id:'appId', required:'required'}
                        #{option value="ripple.bonnier.se#7lYL7E57SXVySUQgaJS4FK"}ripple.bonnier.se#{/option}
                        #{option value="dagensnyheter.se#0uAK7wv28CxMk2lSBitm9Y"}dagensnyheter.se#{/option}
                        #{option value="di.se#5DuzcZz0j8u0zArSNzZgHO"}di.se#{/option}
                        #{option value="sydsvenskan.se#4NjU0sOz4sufDT4yrzngB6"}sydsvenskan.se#{/option}
                        #{option value="hd.se#4NjU0sOz4sufDT4yrzngB6"}hd.se#{/option}
                    #{/select}
                </div>
                <br />
                <input type="submit" value="Set in Ripple" name="submit" class="buy-button">
            #{/form}
        </div>
    </div>
#{include 'Application/_rightsidebar.html'/}
</div>