#{extends 'main.html' /}

<div id="content-container" class="clearfix">
	<div id="main-container">
	    <div id="main">
            <h1>Select Subscription</h1>
        #{list items:bizSubList, as:'bizSubs'}
            <a style="display: block; border: 1px solid #e1bcb6; background-color: #F2D9D2;margin:10px;width:200px;float:left;text-align: center;"
                    href="@{BusinessSubscriptions.details(bizSubs.id)}">
                <span style="padding:10px;height:70px;line-height:70px;color:#666;font-weight:bold">${bizSubs.orgName}</span>
            </a>
        #{/list}
        </div>
	</div>
</div>
