#{extends 'main.html' /}
<div id="content-container" class="clearfix">
    <div id="main-container">
        <div id="main">
            <section id="recent-news" class="filtered-content">
                <div class="articles-container">

                #{list items:0..10, as:'i'}
                    <article class="post full">
                        <div class="post-meta">
                            <span class="category full">
                                 #{if i > 2}
                                    #{if i % 2==0}
                                         <span class="premium">PLUS</span>
                                    #{/if}
                                    #{else}
                                        <span class="premium">PREMIUM</span>
                                    #{/else}
                                 #{/if}
                                #{a @Articles.show(i)}#{lorem.heading /}</span>#{/a}
                        </div>
                        <div class="post-content">
                            <div class="thumbnail-container">
                                #{a @Articles.show(i)}
                                    <img src="@{'/public/images/samples/'+ i+'.jpg'}" alt="" width="297" height="167" class="thumbnail"/>
                                #{/a}
                            </div>
                            <div class="entry">
                                <p class="summary">#{lorem.summary /}</p>
                            </div>
                        </div>
                    </article>
                #{/list}

                </div>

            </section>
        </div>
    </div>
    <aside id="sidebar">
        <h3 class="category full" style="color:#666666;margin-bottom:10px;">
                OFFER ARTICLES
        </h3>
        <div style="clear:both"></div>
    #{list items:0..10, as:'i'}
        #{if i > 2}
        <article class="">
            <div class="">
                 <div class="thumbnail-container">
                     #{a @Articles.show(i,'offer')}
                         <img src="@{'/public/images/samples/'+ i+'.jpg'}" alt="" width="85" height="50" class="thumbnail"/>
                     #{/a}
                 </div>
                 <div class="entry">
                       <p class="summary" id="offerArticles" > #{a @Articles.show(i,'offer')}#{lorem.heading /}#{/a}</p>
                 </div>
            </div>
        </article>
        <div style="clear:both"></div>
        #{/if}
    #{/list}
    </aside>
</div>