#{extends 'main.html' /}
#{set 'moreHead'}
<!-- start bi3d markup -->
<meta name="bi3dPubDate" property="bi3dPubDate" content="2014-04-10 10:37:00"/>
<meta name="bi3dArtId" property="bi3dArtId" content="${index}"/>
<meta name="bi3dArtTitle" property="bi3dArtTitle" content="Smörgåstårta är gott"/>
<meta name="bi3dArtType" property="bi3dArtType" content="def"/>
<meta name="CurrentPageId" property="CurrentPageId" content="${index}" />
<!-- end bi3d markup -->
#{/set}
#{set 'moreTail'}
#{set plusArticle: articleId == "4" || articleId == "6" || articleId == "8" || articleId == "10" /}
#{if isPremium }
    #{if offerArticle}
        <script>
            $(document).on( "hidePremiumContent", function( e ) {
                setTimeout(function(){
                    $('.paywall-content').first().find('~ div').css('background-size','cover');
                    //$('#paywall-container').css('background-color','#ffffff');
                },100);
            });
        </script>
        #{set 'moreHead'}
        #{if articleId == "4" || articleId == "6" || articleId == "8" || articleId == "10"}
            <script id="serviceplusPaywall" src="${checkPaywallScriptUrl}?plain=true" type="text/javascript"
                    data-appId="${appId}"
                    data-resourceId="${resourceId}"
                    data-articleId="${articleId}"
                    data-callbackUrl="${callbackUrl.raw()}"
                    data-ts="${ts}"
                    data-s="${s}"
                    data-blurheight="50"
                    data-accessToken="${customer.getToken()}"
                    data-wrapper=".entry"
                    data-holder=".entry"
                    data-loginURL="${signinUrl}"
                    data-fallback-buyURL="${payPhysicalWithoutLoginUrlWithKLARNAInEmbedded}"></script>
        #{/if}
        #{else}
            #{set diweekend:true/}
            <script id="serviceplusPaywall" src="${checkPaywallScriptUrl}?plain=true" type="text/javascript"
                    data-appId="${appId}"
                    data-resourceId="${resourceId}"
                    data-articleId="${articleId}"
                    data-callbackUrl="${callbackUrl.raw()}"
                    data-ts="${ts}"
                    data-s="${s}"
                    data-blurheight="50"
                    data-theme="diweekend"
                    data-accessToken="${customer.getToken()}"
                    data-wrapper=".entry"
                    data-holder=".entry"
                    data-loginURL="${signinUrl}"
                    data-fallback-buyURL="${payPhysicalWithoutLoginUrlWithKLARNAInEmbedded}"></script>
        #{/else}
        #{/set}
    #{/if}
    #{else }
        <script id="serviceplusPaywall" src="${checkPaywallScriptUrl}" type="text/javascript"
                data-appId="${appId}"
                data-resourceId="${resourceId}"
                data-wrapper=".entry"
                data-holder=".entry"
                #{if plusArticle} data-forcehit="true" #{/if}
                data-loginURL="${signinUrl}"
                data-fallback-buyURL="${payPhysicalWithoutLoginUrlWithKLARNAInEmbedded}"></script>

    #{/else}
#{/if}
#{/set}
<div id="content-container" class="clearfix">
    <div id="main-container">
        <div id="main" #{if diweekend}style="margin-right: 0"#{/if}>
            <article data-id="${index}" #{if isPremium } data-premium="true" #{/if} class="post main-article">
                <div class="post-meta">
                    <span class="category">#{lorem.tag /}</span>
                    <span class="date"
                          title="Pulicerad: ${article.publicationDate.asdate("MMMM dd, yyyy")}">${article.publicationDate.asdate("MMMM dd, yyyy")}</span>
                </div>
                <h1>
                #{lorem.heading /}
                </h1>
                <img src="@{'/public/images/samples/'+ index+'.jpg'}" alt="" width="640" height="400"
                     class="thumbnail"/>
                <div class="preamble">
                    <span class="location">
                        <strong>
                        #{lorem.summary /}
                        </strong>
                    </span>
                </div>

                <div class="entry">
                #{lorem.body /}
                </div>
            </article>
        </div>
    </div>
</div>