<!DOCTYPE html>
<!--[if lt IE 9]><html class="ie"><![endif]-->
<!--[if gte IE 9]><!--><html><!--<![endif]-->
<head>
    <meta charset="${_response_encoding}"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" name="viewport">
    <link href="/images/favicon.png" type="image/png" rel="shortcut icon">
    <title>Ripple - A Reference Implementation</title>
    <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
    <link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/application.scss'}">
    <!--[if lt IE 9]>
    <%= javascript_include_tag "html5" %>
    <![endif]-->
#{script 'jquery.js'/}
#{script 'application.js'/}
#{script 'json2.js'/}
#{get 'moreHead' /}
</head>
<body class="theme_#{section.theme name:active_section /} ${appId.slugify()}">
<div id="wrapper">
#{include 'Application/_flash.html'/}
#{include 'Application/_header.html'/}
#{include 'Application/_navigation.html'/}
#{doLayout /}
#{include 'Application/_more-news.html'/}
</div>
#{include 'Application/_footer.html'/}
#{if performSSOCheck}
    #{include 'Application/_check-login-status_xdm.html'/}
#{/if}
#{else}
    #{include 'Application/_check-login-status.html'/}
#{/else}
#{include 'Application/_verify-entitlement.html'/}
#{include "_google_tag_manager.html"/}
#{get 'moreTail' /}
</body>
</html>
