<section id="userInfo">
#{form @Storefront.createUser()}
    <fieldset>
        <legend>User info</legend>
    #{field 'firstName'}
        First name: <input type="text" id="${field.id}" name="${field.name}" /> <br />
    #{/field}
    #{field 'lastName'}
        Last name: <input type="text" id="${field.id}" name="${field.name}" /> <br />
    #{/field}
    #{field 'email'}
        Email: <input type="text" id="${field.id}" name="${field.name}" /> <br />
    #{/field}
    #{field 'mobileNumber'}
        Mobile number: <input type="text" id="${field.id}" name="${field.name}" /> <br />
    #{/field}
    #{field 'customMasterCreationEmail'}
        Custom master creation: <input type="text" id="${field.id}" name="${field.name}" /> <br />
    #{/field}
    </fieldset>
    <fieldset>
        <legend>Order info</legend>
        #{field 'productId'}
            ProductID: <input type="text" id="${field.id}" name="${field.name}" /> <br />
        #{/field}
        #{field 'currency'}
            Currency: <input type="text" id="${field.id}" name="${field.name}" /> (EUR,NOK,DKK,ISK,SEK) <br />
        #{/field}
        #{field 'price'}
            Price: <input type="text" id="${field.id}" name="${field.name}" /> <br />
        #{/field}
        #{field 'vat'}
            VAT: <input type="text" id="${field.id}" name="${field.name}" /> <br />
        #{/field}
        #{field 'quantity'}
            Quantity: <input type="text" id="${field.id}" name="${field.name}" /> <br />
        #{/field}
    </fieldset>
    <input type="submit" name="action" value="Submit">
#{/form}
</section>