#{extends 'main.html' /}
<div id="content-container" class="clearfix">
    <div id="main-container">
        <div id="main">
        #{form @Storefront._inviteSubAccount()}
            <fieldset>
                <legend>User info</legend>
                #{field 'subAccountEmail'}
                    Sub account email address: <input type="text" id="${field.id}" name="${field.name}"/> <br/>
                #{/field}
            </fieldset>
            <input type="submit" name="action" value="Submit">
        #{/form}
        </div>
    </div>
</div>
