#{extends 'main.html' /}

<div id="content-container" class="clearfix">
    <div id="main-container">
        <div id="main">
            <h1>Welcome DN family</h1>
        ${renderMessage}<br/>
        #{if createSubAccountUrl}
            <a href="${createSubAccountUrl}" target="_blank">Click here to create sub account</a>
        #{/if}
        #{form @Storefront._inviteSubAccount()}
            <fieldset>
                <legend>User info</legend>
                #{field 'subAccountEmail'}
                    Sub account email address: <input type="text" id="${field.id}" name="${field.name}"/> <br/>
                #{/field}
            </fieldset>
            <input type="submit" name="action" value="Submit">
        #{/form}
        </div>
    </div>
</div>
