#{extends 'main.html' /}

<div id="content-container" class="clearfix">
    <div id="main-container">
        <div id="main">
            <h1>Prepare to push an order to service plus process-order api</h1>
        #{form @Storefront.prepareOrderForm()}
            <div style="border-bottom:1px solid black; padding: 15px">
                <input type="button" class="buy-button" value="Add param" id="btnAddParam" /> <input type="submit" class="buy-button" value="Next step" id="btnSubmit" />
            </div>
            #{list items:defaultParams, as:'param'}
                <div id="param${param_index-1}Container" style="border-bottom:1px solid black; padding: 15px" class="paramContainer">
                    Param ${param_index-1} name: <input type="text" id="paramName_${param_index-1}"
                                                        name="paramName_${param_index-1}" value="${param.parameterName}"><br/>
                    Param ${param_index-1} value: <input type="text" id="paramValue_${param_index-1}"
                                                         name="paramValue_${param_index-1}"
                                                         value="${param.parameterValue}"><br/>
                    <input type="button" id="btnRemoveParam_${param_index-1}" value="Remove param ${param_index - 1}" class="buy-button removeParam" style="margin-top: 5px" />
                </div>
            #{/list}
        #{/form}
        </div>
    </div>
</div>
<script type="text/javascript">
    function removeHandler(cId){
        var paramOrder = cId.split("_");
        var paramNo = '';
        if (paramOrder.length > 1 && paramOrder[1] != ''){
            paramNo = paramOrder[1];
        }
        if (paramNo != ''){
            $('#param' + paramNo+'Container').remove();
        }

    }
    $(document).ready(function(){

        $(".removeParam").bind('click', function(){
            var cId = this.id;
            var paramOrder = cId.split("_");
            var paramNo = '';
            if (paramOrder.length > 1 && paramOrder[1] != ''){
                paramNo = paramOrder[1];
            }
            if (paramNo != ''){
                $('#param' + paramNo+'Container').remove();
            }
        });
        $("#btnAddParam").bind('click', function(){
            var checkParamNo = -1;
            $(".removeParam").each(function(){
                var cId = this.id;
                var paramOrder = cId.split("_");
                var paramNo = '';
                if (paramOrder.length > 1 && paramOrder[1] != ''){
                    paramNo = paramOrder[1];
                }
                if (paramNo != ''){
                    var tmpNo = parseInt(paramNo, 10);
                    if (tmpNo > checkParamNo){
                        checkParamNo = tmpNo;
                    }
                }

            });
            var nextParamNo = checkParamNo + 1;
            var divTag = "<div class=\"paramContainer\" style=\"border-bottom:1px solid black; padding: 15px\" id=\"param" + nextParamNo + "Container\">"
                    + "Param " + nextParamNo + " name: <input type=\"text\" value=\"zipCode\" name=\"paramName_" + nextParamNo + "\" id=\"paramName_" + nextParamNo + "\"><br>"
                    + "Param " + nextParamNo + " value: <input type=\"text\" value=\"\" name=\"paramValue_" + nextParamNo + "\" id=\"paramValue_" + nextParamNo + "\"><br>"
                    + "<input type=\"button\" style=\"margin-top: 5px\" class=\"buy-button removeParam\" value=\"Remove param " + nextParamNo + "\" id=\"btnRemoveParam_" + nextParamNo + "\" onclick=\"removeHandler(this.id);\">"
                    + "</div>";
            $(this).closest('div').after(divTag);

        });
    });
</script>
