#{extends 'main.html' /}
#{cache 'section-'+name+'-'+date, for:'15min'}
<div class="container">
    <span class="nameSection big">${name}</span>
    <div class="row">
        <div class="thrid_fon">
            <div class="column fullWidthColumn">
                #{block.teaser section:name, date:date, hasLeadin:true}
                <div class="teaserContent NoImage">
                    <a href="@{Articles.show(teaser?.id,date)}">
                        <span class="nameSection text_Nyheter-Röd" visible="True">${Teaser?.articleLocation?.removeTags()}</span>
                    </a>
                    <h1>
                        #{if teaser?.headline}
                        <a href="@{Articles.show(teaser?.id,date)}">
                            ${teaser.headline.removeTags()}
                        </a>
                        #{/if}
                    </h1>
                    <div class="anons">
                        <span class="disc text_Nyheter-Röd">•</span>
                        #{if teaser?.leadin}
                        ${teaser.leadin.removeTags()}
                        #{/if}
                        #{else}
                        #{article.body id:teaser?.id, length:200 /}
                        #{/else}
                       
                    </div>
                </div>
                #{/block.teaser}
            </div>
            <div class="column fullWidthColumn">
                #{block.teaser section:name, date:date, hasImage:'true'}
                #{if teaser}

                <div class="teaserContent LeftImage oneThirdSize">
                    <a                      href="@{Articles.show(teaser?.id,date)}">
                        <div class="photoImage">
                            #{if teaser?.mainImageId}

                            <img alt="" title="" src="@{Images.show(teaser?.mainImageId, 500, 300)}" />

                            <div class="imageCaption">
                                #{image.caption article:teaser, imageId:teaser.mainImageId /}
                            </div>

                            #{/if}
                        </div>
                        <span class="nameSection text_Nyheter-Röd" visible="True">${teaser.label?.removeTags()}</span>

                        <h2>
                            #{if teaser?.headline}
                            ${teaser.headline.removeTags()}
                            #{/if}
                        </h2>

                        <div class="anons">
                            <span class="disc text_Nyheter-Röd">•</span>
                            <p>
                                #{if teaser?.leadin && teaser.leadin.length() > 10}
                                    ${teaser.leadin.removeTags()}
                                #{/if}
                                #{else}
                                    #{article.body id:teaser.id, length:200 /}
                                #{/else}
                            </p>
                        </div>
                    </a>
                </div>

                #{/if}
                #{/block.teaser}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="thrid_fon">
            <div class="teaser latestArticle">
                <div class="twoCols_fon">
                    <div class="column">
                        <div class="latestArticleSection">
                            #{list items=articles_left, as:'article'}
                            #{if article.headline}
                            <div class="latestArticleContent RightImage oneThirdSize">
                                <a href="@{Articles.show(article.id,date)}">

                                #{if article.mainImageId}
                                <div class="photoImage">
                                    <img src="@{Images.show(article.mainImageId, 300, 200)}"/>
                                </div>
                                #{/if}   
                                
                                <h2>
                                    ${article.headline.removeTags()}
                                </h2>
                                
                                
                                
                                <div class="anons">
                                    <span class="disc text_">•</span>

                                    <p>
                                        #{if article?.leadin}
                                            ${article.leadin.removeTags()}
                                        #{/if}
                                        #{else}
                                            #{article.body id:article?.id, length:200 /}
                                        #{/else}
                                    </p>
                                </div>
                                
                                </a>
                            </div>
                            #{/if}
                            #{/list}
                        </div>
                    </div>
                    <div class="column">
                        <div class="latestArticleSection">
                            #{list items=articles_right, as:'article'}
                            #{if article.headline}
                            <div class="latestArticleContent RightImage oneThirdSize">
                                <a href="@{Articles.show(article.id,date)}">

                                #{if article.mainImageId}
                                <div class="photoImage">
                                    <img src="@{Images.show(article.mainImageId, 300, 200)}"/>
                                </div>
                                #{/if}   
                                
                                <h2>
                                    ${article.headline.removeTags()}
                                </h2>
                                
                                
                                #{if article.leadin}
                                <div class="anons">
                                    <span class="disc text_">•</span>

                                    <p>
                                        ${article.leadin.removeTags()}
                                    </p>
                                </div>
                                #{/if}
                                </a>
                            </div>
                            #{/if}
                            #{/list}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
#{/cache}