#{extends 'main.html' /}
#{set 'moreHead'}
<link href="/public/stylesheets/biz-subscription.css" rel="stylesheet" />
<script type="text/javascript">
    $(document).ready(function(){
        var signIn =$("#authentication-links > a:last-child");
        if(signIn.get(0) && signIn.html().toLocaleLowerCase()=='sign in'){
            signIn.attr('href','${signupUrl.raw()}')
        }
    });
</script>
#{/set}
<div id="content-container" class="clearfix">
	<div id="main-container">
	    <div id="main" style="text-align: center">
            <div style="text-align: left;margin: 10px 0px 20px 0px;">
                <p><h3>Hey!</h3></p>
                <br/>
                <p>
                &nbsp;${bizSubs.orgName} would like to invite you for a <b>free subscription</b> of <b>Dagens Industri</b>.
                </p>
                <p>
                    <br/>
                Fill in your details to read Dagens industry today.
                </p>
            </div>

            <section id="biz_signup_left" style="width:350px;text-align: left;margin:0 auto">
            #{form @BusinessSubscribers.createBussinessSubscriber()}
                <input type="hidden" name="form.bizSubsId" value="${form.bizSubsId}" />
                <input type="hidden" name="form.registrationCode" value="${form.registrationCode}" />
                <input type="hidden" name="form.useBulkCode" value="${form.useBulkCode}" />
                #{field 'form.email'}
                    <div class="input-field">
                        <label for="${field.id}">Email</label>
                        <input #{if !form.useBulkCode} readonly #{/if} ${field.validationData} type="text" name="${field.name}" id="${field.id}" value="${field.value}" class="text #{ifError "${field.name}"}invalid#{/ifError}" >
                        #{ifError "${field.name}"}
                            <label id="${field.id}-error" class="error" for="${field.id}">#{error "${field.name}"/}</label>
                        #{/ifError}
                    </div>
                #{/field}

                #{field 'form.phoneNumber'}
                    <div class="input-field">
                        <label for="${field.id}">Phone Number</label>
                        <input ${field.validationData} type="text" name="${field.name}" id="${field.id}" value="${field.value}" class="text #{ifError "${field.name}"}invalid#{/ifError}" >
                        #{ifError "${field.name}"}
                            <label id="${field.id}-error" class="error" for="${field.id}">#{error "${field.name}"/}</label>
                        #{/ifError}
                    </div>
                #{/field}

                #{field 'form.firstName'}
                    <div class="input-field">
                        <label for="${field.id}">First Name</label>
                        <input ${field.validationData} type="text" name="${field.name}" id="${field.id}" value="${field.value}" class="text #{ifError "${field.name}"}invalid#{/ifError}" >
                        #{ifError "${field.name}"}
                            <label id="${field.id}-error" class="error" for="${field.id}">#{error "${field.name}"/}</label>
                        #{/ifError}
                    </div>
                #{/field}

                #{field 'form.lastName'}
                    <div class="input-field">
                        <label for="${field.id}">Last Name</label>
                        <input ${field.validationData} type="text" name="${field.name}" id="${field.id}" value="${field.value}" class="text #{ifError "${field.name}"}invalid#{/ifError}" >
                        #{ifError "${field.name}"}
                            <label id="${field.id}-error" class="error" for="${field.id}">#{error "${field.name}"/}</label>
                        #{/ifError}
                    </div>
                #{/field}

                <div class="input-field">
                    <div style="float:left;width:70%">
                        #{field 'form.streetName'}
                            <label for="${field.id}" >Street Name</label>
                            <input ${field.validationData} type="text" name="${field.name}" id="${field.id}" value="${field.value}" class="text #{ifError "${field.name}"}invalid#{/ifError}" >
                        #{/field}
                    </div>
                    <div style="float:right;width:30%">
                        #{field 'form.streetNumber'}
                            <label for="${field.id}">Number</label>
                            <input ${field.validationData} type="text" name="${field.name}" id="${field.id}" value="${field.value}" class="text #{ifError "${field.name}"}invalid#{/ifError}" >
                        #{/field}
                    </div>
                    #{ifError "form.streetName"}
                        <label id="form.streetName-error" class="error" for="form.streetName}">#{error "form.streetName"/}</label>
                    #{/ifError}
                    #{ifError "form.streetNumber"}
                        <label id="form.streetNumber-error" class="error" for="form.streetNumber}">#{error "form.streetNumber"/}</label>
                    #{/ifError}

                </div>
                <div style="clear: both"></div>
                <div class="input-field" style="margin-top:10px;">
                    #{field 'form.zipcode'}
                        <div style="float:left;width:30%">
                            <label for="${field.id}">Zip Code</label>
                            <input ${field.validationData} type="text" name="${field.name}" id="${field.id}" value="${field.value}" class="text #{ifError "${field.name}"}invalid#{/ifError}" >
                        </div>
                    #{/field}
                    #{field 'form.city'}
                        <div style="float:right;width:70%">
                            <label id="${field.id}">City</label>
                            <input ${field.validationData} type="text" name="${field.name}" id="${field.id}" value="${field.value}" class="text #{ifError "${field.name}"}invalid#{/ifError}" >
                        </div>
                    #{/field}
                </div>
                #{ifError "form.zipcode"}
                    <label id="form.zipcode-error" class="error" for="form.zipcode}">#{error "form.zipcode"/}</label>
                #{/ifError}
                #{ifError "form.city"}
                    <label id="form.city-error" class="error" for="form.city}">#{error "form.city"/}</label>
                #{/ifError}
                #{field 'form.term'}
                    <div class="input-field">
                        <input  type="checkbox" onclick="this.value = this.checked"  name="${field.name}" id="${field.id}" value="${field.value}" #{if field.value} checked #{/if} />
                        <label style="display:inline-block;width:auto;font-weight:normal" id="${field.id}">I agree the terms of subscription</label>
                        #{ifError "${field.name}"}
                            <label id="${field.id}-error" class="error" for="${field.id}">#{error "${field.name}"/}</label>
                        #{/ifError}
                    </div>
                #{/field}

                <div class="input-field">
                    <input  type="submit"  id="reg_bizsubs" name="reg_bizsubs" value="Read Dagens Industri">
                </div>

            #{/form}
            </section>
        </div>
    </div>
</div>
