#{extends 'main.html' /}
#{set 'moreHead'}
<link href="/public/stylesheets/biz-subscription.css" rel="stylesheet" />
#{/set}
<div id="content-container" class="clearfix">
	<div id="main-container">
	    <div id="main" style="text-align: center">
            <div style="text-align: left;margin: 10px 0px 20px 0px;">
                <p><h3>
                #{if result}
                    Thank you!
                #{/if}
                #{else}
                    Sorry!
                #{/else}
                </h3></p>
                <br/>
                <p>
                &nbsp;${bizSubs.orgName} would like to invite you for a <b>free subscription</b> of <b>Dagens Industri</b>.
                </p>
                <p>
                    <br/>
                #{if result}
                    Sign up subscriber successfully.
                #{/if}
                #{else}
                    Sign up subscriber unsuccessfully.
                #{/else}

                </p>
            </div>
        </div>
    </div>
</div>
