<div id="main-feature">
    <div class="container">
        <article>
            <img src="@{'/public/images/newspaper_stack.jpg'}" alt="" width="940" height="400"/>
    		<div class="outer-wrap">          	
        	    <div class="inner-wrap">
        		    <div class="post-meta">
                    </div>
        	        <h2><a href="/storefront">Sign up!</a></h2>
   		    	    <div class="entry">
       			 	    <p>Read more about our fantastic offers below. Hurry up and sign up to take advantage of the fantastic new features of Ripple!</p>
				    </div>
				</div>
			</div>
		</article>
    </div>
</div>