<section id="recent-news" class="filtered-content">
    <div class="articles-container">
        <article class="post odd">
            <div class="post-meta">
                <span class="category">DI auto create user after payment</span>
            </div>
            <img src="@{'/public/images/ipad_reader.jpg'}" alt="" width="297" height="167" class="thumbnail"/>
            <div class="entry">
                <p>Mock payment result of DI</p>
                <a href="@{Storefront.diPayment()}" class="buy-button" id="buyButton" >Di payment support</a>
                <a href="@{BusinessSubscriptions.signup()}" class="buy-button" id="buyButton" >Signup Biz-Subs</a><br/><br/>
                <a href="@{BusinessSubscriptions.index()}" class="buy-button" id="buyButton" >Biz-Subscribers</a>
            </div>
        </article>
        <article class="post even">
            <div class="post-meta">
                <span class="category">DN invite subaccount</span>
            </div>
            <img src="@{'/public/images/ipad_reader.jpg'}" alt="" width="297" height="167" class="thumbnail"/>
            <div class="entry">
                <p>Mock create sub-account request</p>
                <a href="@{Storefront.inviteSubaccount()}" class="buy-button" id="buyButton" >Invite</a>
            </div>
        </article>
        <article class="post odd">
            <div class="post-meta">
                <span class="category">Digital Only</span>
            </div>
            <img src="@{'/public/images/digital_product.jpg'}" alt="" width="297" height="167" class="thumbnail"/>
            <div class="entry">
            #{if customer.loggedIn}
                #{if !customer.entitled}
                    <p><b>You are logged in but NOT entited to this page</b></p>
                #{/if}
                #{else}
                    <p><b>You are logged in and entitled to this page</b></p>
                #{/else}
                <p>&{'digital.product.description'}</p>
                <div class="buy-group">${payDigitalLoggedInForm?.raw()}</div>
                <div class="buy-group">${payDigitalLoggedInFormWithCC?.raw()}</div>
                <div class="buy-group">${payDigitalLoggedInFormWithSMS?.raw()}</div>
                <div class="buy-group">${payDigitalLoggedInFormWithINVOICE?.raw()}</div>
                <div class="buy-group">${payDigitalLoggedInFormWithAUTOGIRO?.raw()}</div>
                <div class="buy-group">${payDigitalLoggedInFormWithKLARNA?.raw()}</div>
                <div class="buy-group">${postPaidDigitalLoggedInFormWithKLARNA?.raw()}</div>
                <div class="buy-group">${payDigitalLoggedInFormWithKLARNA2?.raw()}</div>
                <div class="buy-group">${postPaidDigitalLoggedInFormWithKLARNA2?.raw()}</div>
            #{/if}
            #{else}
                <p><b>You are NOT logged in</b></p>
                <p>&{'digital.product.description'}</p>
                <p><a href="${registerAndPayDigitalUrl}" class="buy-button" id="buyButton" >Register and pay</a></p>
                <p><a href="${registerAndPayDigitalUrlWithCC}" class="buy-button" id="buyButton" >Register and pay with CC</a></p>
                <p><a href="${registerAndPayDigitalUrlWithSMS}" class="buy-button" id="buyButton" >Register and pay with SMS</a></p>
                <p><a href="${registerAndPayDigitalUrlWithINVOICE}" class="buy-button" id="buyButton" >Register and pay with INVOICE</a></p>
                <div class="buy-group">${payDigitalWithoutLoginForm?.raw()}</div>
                <div class="buy-group">${payDigitalWithoutLoginFormWithCC?.raw()}</div>
                <div class="buy-group">${payDigitalWithoutLoginFormWithSMS?.raw()}</div>
                <div class="buy-group">${payDigitalWithoutLoginFormWithINVOICE?.raw()}</div>
                <div class="buy-group">${payDigitalWithoutLoginFormWithAUTOGIRO?.raw()}</div>
                <div class="buy-group">${payDigitalWithoutLoginFormWithKLARNA?.raw()}</div>
                <div class="buy-group">${payDigitalWithoutLoginFormWithKLARNADynamicMapping?.raw()}</div>
                <p>#{a @Storefront.preparePushOrder(), class:"buy-button"}Prepare to push an order to process-order#{/a}</p>
                <div class="buy-group">${postPaidDigitalWithoutLoginFormWithKLARNA?.raw()}</div>
                <div class="buy-group">${payDigitalWithoutLoginFormWithKLARNA2?.raw()}</div>
                <div class="buy-group">${postPaidDigitalWithoutLoginFormWithKLARNA2?.raw()}</div>
*{                <p><a href="${payDigitalWithoutLoginUrl}" class="buy-button" id="buyButton" >Pay without login</a></p>
                <p><a href="${payDigitalWithoutLoginUrlWithCC}" class="buy-button" id="buyButton" >Pay without login with CC</a></p>
                <p><a href="${payDigitalWithoutLoginUrlWithSMS}" class="buy-button" id="buyButton" >Pay without login with SMS</a></p>
                <p><a href="${payDigitalWithoutLoginUrlWithINVOICE}" class="buy-button" id="buyButton" >Pay without login with INVOICE</a></p>
                <p><a href="${payDigitalWithoutLoginUrlWithKLARNA}" class="buy-button" id="buyButton" >Pay without login with KLARNA</a></p>
                <p><a href="${postPaidDigitalWithoutLoginUrlWithKLARNA}" class="buy-button" id="buyButton" >Pay without login with KLARNA (postpaid)</a></p>
                <p><a href="${payDigitalWithoutLoginUrlWithKLARNA2}" class="buy-button" id="buyButton" >Pay without login with KLARNA2</a></p>
                <p><a href="${postPaidDigitalWithoutLoginUrlWithKLARNA2}" class="buy-button" id="buyButton" >Pay without login with KLARNA2 (postpaid)</a></p>}*
            #{/else}
            </div>
        </article>
        <article class="post even">
            <div class="post-meta">
                <span class="category">Paper Package</span>
            </div>
            <img src="@{'/public/images/paper_product.jpg'}" alt="" width="297" height="167" class="thumbnail"/>
            <div class="entry">
            #{if customer.loggedIn}
                #{if !customer.entitled}
                    <p><b>You are logged in but NOT entited to this page</b></p>
                #{/if}
                #{else}
                    <p><b>You are logged in and entitled to this page</b></p>
                #{/else}
                <p>&{'physical.product.description'}</p>
*{                <div class="buy-group">${payPhysicalLoggedInForm?.raw()}</div>
                <div class="buy-group">${payPhysicalLoggedInFormCC?.raw()}</div>
                <div class="buy-group">${payPhysicalLoggedInFormSMC?.raw()}</div>
                <div class="buy-group">${payPhysicalLoggedInFormINVOICE?.raw()}</div>
                <div class="buy-group">${payPhysicalLoggedInFormKLARNA?.raw()}</div>
                <div class="buy-group">${postPaidPhysicalLoggedInFormKLARNA?.raw()}</div>
                <div class="buy-group">${payPhysicalLoggedInFormKLARNA2?.raw()}</div>
                <div class="buy-group">${postPaidPhysicalLoggedInFormKLARNA2?.raw()}</div>}*
                <p><a href="${payPhysicalLoggedInURL}" class="buy-button" id="buyButton" >Buy logged in</a></p>
                <p><a href="${payPhysicalLoggedInURLWithCC}" class="buy-button" id="buyButton" >Buy logged in with CC</a></p>
                <p><a href="${payPhysicalLoggedInURLWithSMS}" class="buy-button" id="buyButton" >Buy logged in with SMS</a></p>
                <p><a href="${payPhysicalLoggedInURLWithINVOICE}" class="buy-button" id="buyButton" >Buy logged in with INVOICE</a></p>
                <p><a href="${payPhysicalLoggedInURLWithKLARNA}" class="buy-button" id="buyButton" >Buy logged in with KLARNA</a></p>
                <p><a href="${postPaidPhysicalLoggedInURLWithKLARNA}" class="buy-button" id="buyButton" >Buy logged in with KLARNA (postpaid)</a></p>
                <p><a href="${payPhysicalLoggedInURLWithKLARNA2}" class="buy-button" id="buyButton" >Buy logged in with KLARNA2</a></p>
                <p><a href="${postPaidPhysicalLoggedInURLWithKLARNA2}" class="buy-button" id="buyButton" >Buy logged in with KLARNA2 (postpaid)</a></p>
            #{/if}
            #{else}
                <p><b>You are NOT logged in</b></p>
                <p>&{'physical.product.description'}</p>
                <p><a href="${registerAndPayPhysicalUrl}" class="buy-button" id="buyButton" >Register and pay</a></p>
                <p><a href="${registerAndPayPhysicalUrlWithCC}" class="buy-button" id="buyButton" >Register and pay with CC</a></p>
                <p><a href="${registerAndPayPhysicalUrlWithSMS}" class="buy-button" id="buyButton" >Register and pay with SMS</a></p>
                <p><a href="${registerAndPayPhysicalUrlWithINVOICE}" class="buy-button" id="buyButton" >Register and pay with INVOICE</a></p>
                <div class="buy-group">${payPhysicalWithoutLoginForm?.raw()}</div>
                <div class="buy-group">${payPhysicalWithoutLoginFormWithCC?.raw()}</div>
                <div class="buy-group">${payPhysicalWithoutLoginFormWithSMC?.raw()}</div>
                <div class="buy-group">${payPhysicalWithoutLoginFormWithINVOICE?.raw()}</div>
                <div class="buy-group">${payPhysicalWithoutLoginFormWithKLARNA?.raw()}</div>
                <div class="buy-group">${postPaidPhysicalWithoutLoginFormWithKLARNA?.raw()}</div>
                <div class="buy-group">${payPhysicalWithoutLoginFormWithKLARNA2?.raw()}</div>
                <div class="buy-group">${postPaidPhysicalWithoutLoginFormWithKLARNA2?.raw()}</div>
*{                <p><a href="${payPhysicalWithoutLoginUrl}" class="buy-button" id="buyButton" >Pay without login</a></p>
                <p><a href="${payPhysicalWithoutLoginUrlWithCC}" class="buy-button" id="buyButton" >Pay without login with CC</a></p>
                <p><a href="${payPhysicalWithoutLoginUrlWithSMS}" class="buy-button" id="buyButton" >Pay without login with SMS</a></p>
                <p><a href="${payPhysicalWithoutLoginUrlWithINVOICE}" class="buy-button" id="buyButton" >Pay without login with INVOICE</a></p>
                <p><a href="${payPhysicalWithoutLoginUrlWithKLARNA}" class="buy-button" id="buyButton" >Pay without login with KLARNA</a></p>
                <p><a href="${postPaidPhysicalWithoutLoginUrlWithKLARNA}" class="buy-button" id="buyButton" >Pay without login with KLARNA (postpaid)</a></p>
                <p><a href="${payPhysicalWithoutLoginUrlWithKLARNA2}" class="buy-button" id="buyButton" >Pay without login with KLARNA2</a></p>
                <p><a href="${postPaidPhysicalWithoutLoginUrlWithKLARNA2}" class="buy-button" id="buyButton" >Pay without login with KLARNA2 (postpaid)</a></p>}*
            #{/else}
            </div>
        </article>
        <article class="post odd">
            <div class="post-meta">
                <span class="category">Existing subscriber?</span>
            </div>
            <img src="@{'/public/images/ipad_reader.jpg'}" alt="" width="297" height="167" class="thumbnail"/>
            <div class="entry">
                <p>&{'registerSubscription.description'}</p>
                <a href="${registerSubscriberUrl}" class="buy-button" id="buyButton" >Register your subscription</a>
            </div>
        </article>
        <article class="post even">
            <div class="post-meta">
                <span class="category">Existing subscriber?</span>
            </div>
            <img src="@{'/public/images/ipad_reader.jpg'}" alt="" width="297" height="167" class="thumbnail"/>
            <div class="entry">
                <p>Are you already a subscriber but don't have a login? Enter your social security number to register.</p>
                <form action="${registerSubscriberWithPersonalIdUrl}" method="POST" id="registerSubscriberWithPersonalIdForm" class="registerSubscriberForm">
                    <input type="submit" class="buy-button" id="buyButton" value="Register"/>
                </form>
            </div>
        </article>
        <article class="post odd">
            <div class="post-meta">
                <span class="category">Register an account</span>
            </div>
            <img src="@{'/public/images/register.jpg'}" alt="" width="297" height="167" class="thumbnail"/>
            <div class="entry">
                <p>&{'register.description'}</p>
                <a href="${registerOnlyUrl}" class="buy-button" id="buyButton" >Just Register</a>
                #{if !customer.loggedIn}
                    <a href="/register-with-email" class="buy-button" id="buyButton" >Lightweight Register</a>
                #{/if}
            </div>
        </article>
        #{if !customer.loggedIn}
            <article class="post even">
                <div class="post-meta">
                    <span class="category">Digital Only with Facebook</span>
                </div>
                <img src="@{'/public/images/digital_product.jpg'}" alt="" width="297" height="167" class="thumbnail"/>
                <div class="entry">
                    <p><b>You are NOT logged in</b></p>
                    <p>&{'digital.product.description'}</p>
                    <p><a href="${registerAndPayDigitalWithFacebookUrl}" class="buy-button" id="buyButton" >Register and pay with Facebook</a></p>
                    <p><a href="${registerAndPayDigitalWithGooglePlusUrl}" class="buy-button" id="buyButton" >Register and pay with Google+</a></p>
                </div>
            </article>
            <article class="post odd">
                <div class="post-meta">
                    <span class="category">Digital Only with Email</span>
                </div>
                <img src="@{'/public/images/digital_product.jpg'}" alt="" width="297" height="167" class="thumbnail"/>
                <div class="entry">
                    <p><b>You are NOT logged in</b></p>
                    <p>&{'digital.product.description'}</p>
                    <form action="${registerAndPayDigitalUrl}" method="POST">
                        <input class="email-input" type="email" id="emailAddress" name="email" value="${emailAddress}" placeholder="Email Address"/>
                        <input type="submit" class="buy-button" id="buyButton" value="Register and Pay"/>
                    </form>
                </div>
            </article>
        #{/if}
        <article class="post even">
            <div class="post-meta">
                <span class="category">New Card Info</span>
            </div>
            <img src="@{'/public/images/digital_product.jpg'}" alt="" width="297" height="167" class="thumbnail"/>
            <div class="entry">
                <p>&{'new.card.info'}</p>
                <a href="${newCardInfoUrl}" class="buy-button" id="buyButton" >New Card Info</a>
            </div>
        </article>
        <article class="post odd">
            <div class="post-meta">
                <span class="category">Paper Package With Already Provided Addresses</span>
            </div>
            <img src="@{'/public/images/paper_product.jpg'}" alt="" width="297" height="167" class="thumbnail"/>
            <div class="entry">
            #{if customer.loggedIn}
                #{if !customer.entitled}
                    <p><b>You are logged in but NOT entited to this page</b></p>
                #{/if}
                #{else}
                    <p><b>You are logged in and entitled to this page</b></p>
                #{/else}
                <p>&{'physical.product.description'}</p>
                <p><a href="${payPhysicalWithAddressLoggedInURL}" class="buy-button" id="buyButton" >Buy logged in</a></p>
                <p><a href="${payPhysicalWithAddressLoggedInURLWithCC}" class="buy-button" id="buyButton" >Buy logged in with CC</a></p>
                <p><a href="${payPhysicalWithAddressLoggedInURLWithSMS}" class="buy-button" id="buyButton" >Buy logged in with SMS</a></p>
                <p><a href="${payPhysicalWithAddressLoggedInURLWithINVOICE}" class="buy-button" id="buyButton" >Buy logged in with INVOICE</a></p>
            #{/if}
            #{else}
                <p><b>You are NOT logged in</b></p>
                <p>&{'physical.product.description'}</p>
                <p><a href="${registerAndPayPhysicalWithAddressUrl}" class="buy-button" id="buyButton" >Register and pay</a></p>
                <p><a href="${registerAndPayPhysicalWithAddressUrlWithCC}" class="buy-button" id="buyButton" >Register and pay with CC</a></p>
                <p><a href="${registerAndPayPhysicalWithAddressUrlWithSMS}" class="buy-button" id="buyButton" >Register and pay with SMS</a></p>
                <p><a href="${registerAndPayPhysicalWithAddressUrlWithINVOICE}" class="buy-button" id="buyButton" >Register and pay with INVOICE</a></p>
            #{/else}
            </div>
        </article>
        <article class="post even">
            <div class="post-meta">
                <span class="category">Activate your paper subscription</span>
            </div>
            <img src="@{'/public/images/ipad_reader.jpg'}" alt="" width="297" height="167" class="thumbnail"/>
            <div class="entry">
                <p>For those who subscribe to the magazine. Activate your paper subscription and access in all digital channels.</p>
                <a href="${activateSubscriberUrl}" class="buy-button" id="buyButton" >Activate</a>
            </div>
        </article>
    </div>
</section>