<div id="voucherCodeField" class="field">
    <label for="voucherCode">&{'voucher.code.label'}</label>
    <input type="text" class="text #{ifError 'voucherCode'}error#{/ifError}" name="voucherCode" id="voucherCode"
           value="${flash['voucherCode']}">
#{ifError 'voucherCode'}
    <div class="error">#{error 'voucherCode'/}</div>
#{/ifError}
</div>

<div id="emailField" class="field">
    <label for="emailAddress">&{'voucher.email.label'}</label>
    <input type="text" class="text #{ifError 'email'}error#{/ifError}" name="email" id="emailAddress"
           value="${flash['email']}">
#{ifError 'email'}
    <div class="error">#{error 'email'/}</div>
#{/ifError}
</div>
