#{extends 'main.html' /}

<div id="content-container" class="clearfix">
    <div id="main-container">
        <div id="main">
            <h1>Buy with Klarna (Dynamic mapping)</h1>
            <div class="buy-group">${payDigitalWithoutLoginFormWithKLARNA?.raw()}</div>
        </div>
    </div>
</div>
