#{extends 'main.html' /}

<div id="content-container" class="clearfix">
    <div id="main-container">
        <div id="main">
            <h1>Prepared order</h1>
            <div class="buy-group">${preparedForm?.raw()}</div>
        </div>
    </div>
</div>
