#{if flash.error}
    <div class="flash">
        <p class="error">${flash.error}</p>
    </div>
#{/if}
#{if flash.success}
    <div class="flash">
        <p class="success">${flash.success}</p>
    </div>
#{/if}
<div id="sso-cookies-login-status" class="flash"></div>
<div id="login-status" class="flash"></div>
<div id="verify-entitlement" class="flash"></div>
#{if openIdAccessTokenLabel}
  <div class="flash">
    <p class="error">${openIdAccessTokenLabel}</p>
  </div>
#{/if}