 <div id="footer-container">
	<footer class="clearfix">
		<div id="copyright">
			<p>Ripple &copy; 2014. All Rights Reserved. <a id="link-to-vanilla" href="http://www.bonnier.com/">BonnierNews</a> </p>
		</div>
		<div id="credit">
	    	<p>BonnierNews</p>
		</div>
	</footer>
</div>
