<nav class="clearfix">
    <h1><a href="#">Sections <span></span></a></h1>
    <ul>
        <li #{if request.path=="/"} class="current"#{/if}>
            <a href="/?date=${date}">Home</a>
        </li>
        <li #{if request.path=="/storefront"} class="current"#{/if}>
            <a href="@{Storefront.index}">&{'storefront.register.link'}</a>
        </li>
        <li #{if request.path.startsWith("/articles")} class="current"#{/if}>
            <a href="@{Articles.index}">&{'storefront.articles.link'}</a>
        </li>
        #{ifnot customer.loggedIn}
            <li #{if request.path=="/application/setting"} class="current"#{/if}>
                <a href="@{Application.setting}">Setting</a>
            </li>
        #{/ifnot}
        <li #{if request.path=="/subscribe/dn"} class="current"#{/if}>
            <a href="@{Subscribe.order}">Subscribe</a>
        </li>
        #{list items:sections, as:'section'}
            <li #{if section == active_section} class="current" #{/if}>
                <a href="@{Sections.index(section,date)}">${section}</a>
            </li>
        #{/list}
    </ul>
#{form @Search.index(), id:'search'}
    <input name="q" maxlength="255" type="text" value="${query}">
    <input type="image" value="Go" name="submit" class="search-submit" src="@{'/public/images/search.png'}">
#{/form}
</nav>
