<aside id="sidebar">
    <div class="ad-wrap">
        <img src="@{'/public/images/bonniernews/companies-illustration-all.jpg'}" alt="" width="275" height="607"/>
        <img src="@{'/public/images/digital_product.jpg'}" alt=""/>
    </div>
</aside>
