<script type="text/javascript" src="${verifyEntitlementScriptUrl}"></script>
<script type="text/javascript">
    $(document).ready(function () {

        function successVerifyEntitlementCallback(json) {
            $('#verify-entitlement').flash_message({
                text: 'Is entitled to ${externalResourceId}: ' + json.entitled + '. Response Data: ' + JSON.stringify(json),
                how: 'append'
            });
            $(".plus").remove();
        }

        function errorVerifyEntitlementCallback(json) {
            $('#verify-entitlement').flash_message({
                text: 'Is entitled to ${externalResourceId}: ' + json.entitled + '. Response Data: ' + JSON.stringify(json),
                how: 'append'
            });
            $(".plus").remove();
            $(".post-more").prepend("<span class=\"plus\">PLUS</span>");
        }

        verifyEntitlementUrl = '${verifyEntitlementUrl}';
        externalResourceId = '${externalResourceId}';
        access_token = '${access_token}';
        verifyEntitlement(verifyEntitlementUrl, externalResourceId, access_token, 1, successVerifyEntitlementCallback, errorVerifyEntitlementCallback);

    });
</script>