#{extends 'main.html' /}

<div class="container">
    #{if activated == "true"}
        <h2 align="center" style="padding-top: 50px;">Activated Successfully!</h2>
    #{/if}
    #{else}
        <h2 align="center" style="padding-top: 50px;">Failed to activate</h2>
    #{/else}
    <h3 align="center" style="padding-top: 20px;">
        You must log in to view content.
    </h3>
</div>
