#{extends 'main.html' /}

<div id="content-container" class="clearfix">
    <div id="main-container">
        <div id="main" class="content-bounder">
        #{form @Application.buildOnLoggedIn(), id:'execute-onloggedin'}
            <div>
                <p>Please put information to build <b>On Logged In</b> URL</p>
                <hr>
                <br />
                <div>
                    <label for="token"><b>Token</b></label>
                    <input type="text" class="text #{ifError 'token'}error#{/ifError} ui-input" name="token" id="token"
                       value="${token}" autocapitalization="off" autocorrect="off" placeholder="User token">
                </div>
                <div>
                    <label for="rememberme"><b>Remember me</b></label>
                    <input type="text" class="text #{ifError 'rememberme'}error#{/ifError} ui-input" name="rememberme" id="rememberme"
                           value="${rememberme}" autocapitalization="off" autocorrect="off" placeholder="Remember me">
                </div>
                <div>
                    <label for="callback"><b>Callback URL</b></label>
                    <input type="text" class="text #{ifError 'callback'}error#{/ifError} ui-input" name="callback" id="callback"
                           value="${callback}" autocapitalization="off" autocorrect="off" placeholder="Callback URL">
                </div>
            </div>
            <br />
            <input type="submit" value="Build URL" name="submit" class="buy-button">
            <br />
            <hr>
            <div>
                <label for="onloggedinUrl"><b>URL: </b>${url}</label>
            </div>
        #{/form}
        </div>
    </div>
#{include 'Application/_rightsidebar.html'/}
</div>