#{extends 'main.html' /}
#{set 'moreHead'}
<link href="/public/stylesheets/biz-subscription.css" rel="stylesheet" />
<script type="text/javascript">
    var emailPattern = /^[_A-Za-z0-9-\+]+(\.[_A-Za-z0-9-]+)*@[A-Za-z0-9-]+(\.[A-Za-z0-9-]+)*(\.[A-Za-z]{2,})$/;
    function onSubmitInvitation(){
        var emails =[];
        if($('input[name="tmpemails"]').get(0)){

            $('input[name="tmpemails"]').each(function(){
                if(validateEmail($(this).val())){
                    emails.push($(this).val());
                }else{
                    $(this).addClass("error");
                    return false;
                }
            })

        }
        if(validateEmail($('#emailAddress').val())){
            emails.push($('#emailAddress').val());
        }

        if(emails.length >0){
            $('#submitEmails').val(emails.join(","));
            return true;
        }

        alert('please add email to invited');
        return false;
    }
    function validateEmail(email) {
        var valid = emailPattern.test(email);

        if (valid) {
           var rows = $('#bizsubscriber > tbody > tr[data-email]');
           rows.each(function(){
               if(email == $(this).data('email')){
                   valid =false;
                   return false;
               }
           })
        }

        if(valid){
            $('#emailAddress').removeClass('error').addClass('valid');
            return true;
        }else{
            $('#emailAddress').removeClass('valid').addClass('error');

        }
        return false;
    }

    function abortInvitation(e){
        $(e.target).closest('tr').remove()
    }
    $(document).ready(function(){
            $('#biz_add_more').on('click',function(e){
                var email =$('#emailAddress');
                var input ='<div class="input-field">' +
                                '<input type="text" name="tmpemails"  >' +
                            '</div>';

                $(email.parent()).after(input);
            });


        //Change logout call back
        var signIn =$("#authentication-links > a:last-child");
        if(signIn.get(0) && signIn.html().toLocaleLowerCase()=='Sign Out'){
            signIn.attr('href','${signupUrl.raw()}')
        }
    });



</script>
#{/set}
<div id="content-container" class="clearfix">
	<div id="main-container">
	    <div id="main" class="biz-container">

            <h3 style="border-bottom:solid 1px #e1bcb6;text-transform: capitalize">${bizSubs.orgName} (${bizSubs.organizationNumber})</h3>

            <ul class="tab">
                <li class="active">Subscribers(${bizSubscribers.size()+1})</li>
            </ul>
            <div>
                <table width="100%" id="bizsubscriber">
                    <thead>
                    <tr>
                        <th style="text-align: left">Name</th>
                        <th style="text-align: left" >Email</th>
                        <th style="text-align: left;width:150px" >Status</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr data-email="${master.email}">
                        <td >${master.firstName} ${master.lastName}</td>
                        <td >${master.email}</td>
                        <td style="color:green">Active*</td>
                    </tr>
                    #{list items:pagination.getItems(), as:'item'}
                    <tr data-email="${item.email}">
                        <td >#{if item.getStatus().toString() =='PENDING'} - #{/if} #{else}${item.firstName} ${item.lastName}#{/else}</td>
                        <td >${item.email}</td>
                        <td style="color:green;text-transform:capitalize">${item.getStatus().toString().toLowerCase()}</td>
                    </tr>
                    #{/list}
                    </tbody>
                    <tfoot>
                    <tr>
                        <td colspan="3" style="text-align: right;border-bottom: none">
                            #{pages page:pagination.getPageNumber(), totalPages:pagination.getPageCount() /}
                        </td>
                    </tr>
                    </tfoot>
                </table>
            </div>
            <div style="margin:35px 0 25px 0;">
                <h3 style="border-bottom:solid 1px #e1bcb6;text-transform: capitalize">Invite more people</h3>
            </div>
            <section id="biz_signup_left" style="width:50%;float: left;">
                <b style="color:#666666;font-size:13px">Enter e-mail to the person you want to invite</b><br/>
                #{form action:@BusinessSubscriptions.inviteSubscribers(), id:'invitationForm',onsubmit:'return onSubmitInvitation()'}
                     <input id="submitEmails" type="hidden" name="emails" value="" />
                    <input type="hidden" name="bizSubsId" value="${bizSubs.id}" />
                    <div class="input-field">
                        <input type="text" id="emailAddress" />
                    </div>
                    <div style="text-align: right">
                        <a id="biz_add_more" href="javascript:void(0)" style="font-weight:bold;font-size:12px">Add more</a>
                    </div>
                    <div class="input-field">
                    <input type="submit" id="sendInvite" name="" value="Send an invitation"  style="width:100%;background-color: #1B558A;color:#fff;cursor: pointer"/>
                    </div>
              #{/form}
                <div class="button-splitter">
                    <div class="eller-label">Eller</div>
                </div>

                <b style="color:#666666">Send link and password</b><br/>
                <span style="font-size:13px;color: #99827F">
                You can invite in a private message by sending out link and PASSWORD-for example, in your mailing list.<br/>
                </span>
                <br/>
                <div class="input-field">
                    <input type="text" readonly value="${localUrl}/signup-biz-subscriber?invite=${bizSubs.id}"/>
                </div>
                <div class="input-field">
                    <input type="text" readonly value="${bizSubs.registrationCode}"/>
                </div>

                <div class="button-splitter">
                    <div class="eller-label">Eller</div>
                </div>

                <b style="color:#666666">Import list</b><br/>
                <span style="font-size:13px;color: #99827F">You can import a list of email addresses in the CSV - or TXT format</span>
                <br/>
                <br/>

                #{form @BusinessSubscriptions.importCSV(), enctype:'multipart/form-data'}
                    <input type="hidden" name="bizSubsId" value="${bizSubs.id}" />
                    <div class="input-field" style="position: relative">
                        <input id="file" name="file" type="file" onchange="javascript:this.form.submit();" value="browse" style="width:95%;background-color: #1B558A;color:#fff" />
                        <div id="fakefile">
                        </div>
                    </div>
                #{/form}

            </section>

            <section  id="biz_signup_right" style="width:50%;float: right;text-align: right">

                <div style="width:300px;float:right;">
                    <div style="height:10px;border:solid 1px #e1bcb6;padding:2px;text-align: left;margin-bottom:10px">
                        <div style="display:inline-block;background-color:green;width:10%;height:10px;"></div>
                    </div>
                    <div style="color:#666;padding:20px 2px;border:solid 1px #E1BDB8;background-color:#F2D9D2;border-radius: 4px">
                        <table width="100%" id="bizsubsinf" cellpadding="0" cellspacing="0">
                            <tr>
                                <td style="text-align: left">Ditt val:</td>
                                <td style="text-align: right">
                                    <b>Di Digital</b> for <b>0 - 20 people</b>
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align: left">You pay:</td>
                                <td style="text-align: right">
                                    <b>99kr/man</b> per people
                                </td>
                            </tr>
                        </table>
                    </div>

                    <div style="margin-top:20px;color:#666;padding:20px 2px;border:solid 1px #E1BDB8;background-color:#F2D9D2;border-radius: 4px">
                        <table width="100%" id="companyinf" cellpadding="0" cellspacing="0">
                            <tr >
                                <th style="text-align: left">Your information
                                <a href="javascript:void(0)" style="float: right;display:none" >Edit</a>
                                </th>
                            </tr>
                            <tr>
                                <td style="text-align: left">
                                    ${master.firstName} ${master.lastName}
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align: left">${master.phoneNumber}</td>
                            </tr>
                            <tr>
                                <td style="text-align: left">${master.email}</td>
                            </tr>
                            <tr>
                                <td style="text-align: left">&nbsp;</td>
                            </tr>
                            <tr>
                                <td style="text-align: left">${bizSubs.orgName}</td>
                            </tr>
                            <tr>
                                <td style="text-align: left">Org.Number ${bizSubs.organizationNumber}</td>
                            </tr>

                        </table>
                    </div>
                </div>
            </section>

        </div>
	</div>
</div>
