#{extends 'main.html' /}
#{set 'moreHead'}
<link href="/public/stylesheets/biz-subscription.css" rel="stylesheet" />
#{/set}
<div id="content-container" class="clearfix">
	<div id="main-container">
	    <div id="main">
            #{form @BusinessSubscriptions.createBusinessSubscription()}
	        <section id="bizdef">
                #{list items:bizDefs, as:'bizDef'}
                    <span class="bizdef">
                        <input type="radio" id="${bizDef.id}" name="form.bizDefId" value="${bizDef.id}" #{if bizDef.id == form.bizDefId } checked="checked" #{/if} />
                        <label for="${bizDef.id}">Buy for <b>${bizDef.minQuantity}-${bizDef.maxQuantity}</b> people</label>
                    </span>
                #{/list}
            </section>
            <div>
                <section id="biz_signup_left" style="width:50%;float: left;">
                #{if !loggedIn}
                #{field 'form.email'}
                    <div class="input-field">
                        <label for="${field.id}">Email</label>
                        <input  #{if loggedIn} readonly ="readonly" #{/if} ${field.validationData} type="text" name="${field.name}" id="${field.id}" value="${field.value}" class="text #{ifError "${field.name}"}invalid#{/ifError}" >
                        #{ifError "${field.name}"}
                            <label id="${field.id}-error" class="error" for="${field.id}">#{error "${field.name}"/}</label>
                        #{/ifError}
                    </div>
                #{/field}
                #{/if}
                #{if form.step >0}
                #{field 'form.orgNumber'}
                    <div class="input-field">
                        <label id="form_orgNumber">Organization Number</label>
                        <input ${field.validationData} type="text" name="${field.name}" id="${field.id}" value="${field.value}" class="text #{ifError "${field.name}"}invalid#{/ifError}" >
                        #{ifError "${field.name}"}
                            <label id="${field.id}-error" class="error" for="${field.id}">#{error "${field.name}"/}</label>
                        #{/ifError}
                    </div>
                #{/field}
                 #{/if}
                #{if form.step >1}
                #{field 'form.firstName'}
                    <div class="input-field">
                        <label for="${field.id}">First Name</label>
                        <input #{if loggedIn} readonly ="readonly" #{/if} ${field.validationData} type="text" name="${field.name}" id="${field.id}" value="${field.value}" class="text #{ifError "${field.name}"}invalid#{/ifError}" >
                        #{ifError "${field.name}"}
                            <label id="${field.id}-error" class="error" for="${field.id}">#{error "${field.name}"/}</label>
                        #{/ifError}
                    </div>
                #{/field}
                #{field 'form.lastName'}
                    <div class="input-field">
                        <label for="${field.id}">Last Name</label>
                        <input #{if loggedIn} readonly ="readonly" #{/if}  ${field.validationData} type="text" name="${field.name}" id="${field.id}" value="${field.value}" class="text #{ifError "${field.name}"}invalid#{/ifError}" >
                        #{ifError "${field.name}"}
                            <label id="${field.id}-error" class="error" for="${field.id}">#{error "${field.name}"/}</label>
                        #{/ifError}
                    </div>
                #{/field}

                #{field 'form.phoneNumber'}
                    <div class="input-field">
                        <label for="${field.id}">Phone Number</label>
                        <input ${field.validationData} type="text" name="${field.name}" id="${field.id}" value="${field.value}" class="text #{ifError "${field.name}"}invalid#{/ifError}" >
                        #{ifError "${field.name}"}
                            <label id="${field.id}-error" class="error" for="${field.id}">#{error "${field.name}"/}</label>
                        #{/ifError}
                    </div>
                #{/field}

                 #{field 'form.orgName'}
                    <div class="input-field">
                        <label for="${field.id}">Organization Name</label>
                        <input ${field.validationData} type="text" name="${field.name}" id="${field.id}" value="${field.value}" class="text #{ifError "${field.name}"}invalid#{/ifError}" >
                        #{ifError "${field.name}"}
                            <label id="${field.id}-error" class="error" for="${field.id}">#{error "${field.name}"/}</label>
                        #{/ifError}
                    </div>
                 #{/field}
                #{field 'form.title'}
                    <div class="input-field">
                        <label for="${field.id}">Title</label>
                        <input ${field.validationData} type="text" name="${field.name}" id="${field.id}" value="${field.value}" class="text #{ifError "${field.name}"}invalid#{/ifError}" >
                        #{ifError "${field.name}"}
                            <label id="${field.id}-error" class="error" for="${field.id}">#{error "${field.name}"/}</label>
                        #{/ifError}
                    </div>
                #{/field}
                    <div class="input-field">
                        <div style="float:left;width:70%">
                            #{field 'form.streetName'}
                            <label for="${field.id}" >Street Name</label>
                                <input ${field.validationData} type="text" name="${field.name}" id="${field.id}" value="${field.value}" class="text #{ifError "${field.name}"}invalid#{/ifError}" >
                            #{/field}
                        </div>
                        <div style="float:right;width:30%">
                            #{field 'form.streetNumber'}
                                 <label for="${field.id}">Number</label>
                                <input ${field.validationData} type="text" name="${field.name}" id="${field.id}" value="${field.value}" class="text #{ifError "${field.name}"}invalid#{/ifError}" >
                            #{/field}
                        </div>
                        #{ifError "form.streetName"}
                            <label id="form.streetName-error" class="error" for="form.streetName}">#{error "form.streetName"/}</label>
                        #{/ifError}
                        #{ifError "form.streetNumber"}
                            <label id="form.streetNumber-error" class="error" for="form.streetNumber}">#{error "form.streetNumber"/}</label>
                        #{/ifError}

                    </div>
                    <div style="clear: both"></div>
                    <div class="input-field" style="margin-top:10px;">
                        #{field 'form.zipcode'}
                        <div style="float:left;width:30%">
                            <label for="${field.id}">Zip Code</label>
                            <input ${field.validationData} type="text" name="${field.name}" id="${field.id}" value="${field.value}" class="text #{ifError "${field.name}"}invalid#{/ifError}" >
                        </div>
                        #{/field}
                     #{field 'form.city'}
                        <div style="float:right;width:70%">
                            <label id="${field.id}">City</label>
                            <input ${field.validationData} type="text" name="${field.name}" id="${field.id}" value="${field.value}" class="text #{ifError "${field.name}"}invalid#{/ifError}" >
                        </div>
                    #{/field}
                    </div>
                    #{ifError "form.zipcode"}
                        <label id="form.zipcode-error" class="error" for="form.zipcode}">#{error "form.zipcode"/}</label>
                    #{/ifError}
                    #{ifError "form.city"}
                        <label id="form.city-error" class="error" for="form.city}">#{error "form.city"/}</label>
                    #{/ifError}
                    #{field 'form.term'}
                    <div class="input-field">
                        <input  type="checkbox" onclick="this.value = this.checked"  name="${field.name}" id="${field.id}" value="${field.value}" #{if field.value} checked #{/if} />
                        <label style="display:inline-block;width:auto;font-weight:normal" id="${field.id}">I agree the terms of subscription</label>
                        #{ifError "${field.name}"}
                            <label id="${field.id}-error" class="error" for="${field.id}">#{error "${field.name}"/}</label>
                        #{/ifError}
                    </div>
                    #{/field}

                    <div class="input-field">
                        <input  type="submit"  id="reg_bizsubs" name="reg_bizsubs" value="Confirm purchase and invite colleagues">
                    </div>
                 #{/if}
                 #{else}
                     <div class="input-field">
                         <input  type="submit"  id="reg_bizsubs" name="reg_bizsubs" value="Get started with your subscription">
                     </div>
                 #{/else}
                </section>
                <section  id="biz_signup_right" style="width:50%;float: right;text-align: right">
                    <div style="width:300px;float:right;">
                        #{if form.step >0}
                        <img src="/public/images/di/step${form.step}.png" width="300px" />
                        #{/if}
                        <div style="color:#666;padding:20px 2px;border:solid 1px #E1BDB8;background-color:#F1D8D2">
                            <table width="100%" id="bizsubsinf" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td style="text-align: left">Ditt val:</td>
                                    <td style="text-align: right">
                                        <b>Di Digital</b> for <b>0 - 20 people</b>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="text-align: left">You pay:</td>
                                    <td style="text-align: right">
                                        <b>99kr/man</b> per people
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>

                </section>
            </div>
                <input type="hidden" name="form.step" value="${form.step}">
            #{/form}
        </div>
	</div>
</div>
