#{extends 'main.html' /}

<div id="content-container" class="clearfix">
    <div id="main-container">
        <div id="main" style="text-align: center">
            <h1>Enter Registration Code </h1>
            <div style="margin:50px 0px 300px 0px;">
                <form name="form">
                    <input type="hidden" name="invite" />
                    <input type="text" id="reg_code" name="reg_code" onKeyPress="if (event.keyCode == 13){window.location.href='${localUrl}@{BusinessSubscribers.index()}?invite=${invite}&code='+this.value;return false}" /><br/>
                    <br/>
                    <input type="button" name="submit" value="submit" onclick="window.location.href='${localUrl}@{BusinessSubscribers.index()}?invite=${invite}&code='+document.form.reg_code.value;return false" />
                </form>
            </div>
        </div>
    </div>
</div>